<%- include('../limited_time/snowfall.ejs', {theme: theme, page: page}); %>

<!-- Nav Bar -->
<nav class="navbar <% if (theme) { %>navbar-dark<% } else { %>navbar-light<% } %> navbar-expand-lg justify-content-center">
    <span class="navbar-brand-holder">
        <div class="popup">
            <a onclick="try {if (currentPage === -1) {window.location.href = '/'} else {showPage(-1)}} catch (e) {window.location = '/'}"
               class="navbar-brand" style="margin: 0;">
                <h1>
                    <img
                    <% if (theme === true) { %>
                        src="/public/resources/dark_mode/logo.png"
                    <% } else if (theme === false) { %>
                        src="/public/resources/light_mode/logo.png"
                            <% } %>
                        style="width: 3rem">
                    <div class="brand-label">
                        Graderoom
                    </div>
                    <% if (premium ?? false) { %>
                    <div class="premium label-background"><div class="premium-label">
                        PREMIUM
                    </div></div>
                    <% } else if (plus ?? false) { %>
                    <div class="plus label-background"><div class="plus-label">
                        PLUS
                    </div></div>
                    <% } %>
                </h1>
            </a>
            <% if (page !== "home") { %>
                <div class="popup-holder">
                    <span id="homePopup"
                          style="width: 20rem"
                          class="nav-popups popup-bottom-right tutorial-popup">
                        Clicking here at any time will take you home
                        <span class="gotIt"></span>
                    </span>
                </div>
            <% } %>
        </div>
        <div class="nav-username">
            <div class="text-center">
                <h5 style="padding-top: 0; white-space: nowrap;<% if (page != "home") { %> cursor: default; <% } %> "
                    onclick="<% if (page === "home") { %>showCard('#settingsCardDisplay'); openTab(2) <% } %>"><%= username; %></h5>
                <% let name = [];
                let {firstName, lastName, graduationYear} = _personalInfo;
                if (!!firstName) name.push(firstName);
                if (!!lastName) name.push(lastName);
                if (!!graduationYear && graduationYear >= 2010) name.push(`'${graduationYear - 2000}`);
                %>
                <label id="nameDisplay"
                       style="white-space: nowrap;<% if (page === "home") { %> cursor: pointer; <% } %> margin: 0; display: block" onclick="<% if (page === "home") { %>showCard('#settingsCardDisplay'); openTab(2) <% } %>"><%= name.join(" "); %></label>
                <% if (page === "home") { %>
                    <label style="white-space: nowrap; cursor: pointer; border-radius: 0.5rem; padding: 0.1rem 0.5rem; font-family: Arial, Helvetica, sans-serif"
                           onclick="showCard('#gradeChangesCardDisplay')"
                           class="updateGradesMessage alert-info">
                        <span></span>
                        <div <% if (_alerts.lastUpdated.length && !history) { %>style="cursor: pointer"<% } %> class="messageTxt">Loading Sync Status...</div>
                    </label>
                    <span class="popup popup-holder">
                        <span id="navinfoPopup"
                              class="nav-popups popup-bottom tutorial-popup"
                              style="width: 10rem; margin-top: 1rem"
                        >
                            The sync status with <% if (school === "basis") { %>Schoology<% } else { %>PowerSchool<% } %> will be displayed here. Clicking here will open the
                            sync log.
                            <span class="gotIt"></span>
                        </span>
                    </span>
                <% } %>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNav"
                aria-controls="collapsingNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </span>
    <div class="navbar-collapse collapse w-50" id="collapsingNav">
        <ul class="navbar-nav w-100 justify-content-end align-items-end ml-auto">
            <% if (page === "home") { %>
                <li class="nav-item popup">
                    <div class="popup-holder-vert">
                        <span id="morePopup"
                              class="nav-popups popup-left-bottom tutorial-popup"
                              style="min-width: 8rem">
                            Hover here to access other parts of the site. Click to keep the menu open.
                            <span class="gotIt"></span>
                        </span>
                    </div>
                </li>
                <li class="nav-item dropdown popup">
                    <a class="nav-link dropdown-toggle popup" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        More
                    </a>
                    <ul class="dropdown-menu blur" aria-labelledby="navbarDropdown">
                        <% if (isAdmin) { %>
                            <li id="toggleAdmin" class="nav-item toggle-admin dropdown-item">
                                <a class="btn btn-med" href="/admin"> <i class="fa fa-fighter-jet"
                                                                         aria-hidden="true"></i> Admin
                                </a>
                            </li>
                            <div class="dropdown-divider"></div>
                        <% } %>
                        <% if (page === "home") { %>
                            <li class="nav-item dropdown-item">
                                <btn class="btn btn-med"
                                     onclick="showCard('#settingsCardDisplay'); openTab(4);">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i> Help
                                </btn>
                            </li>
                            <li class="nav-item dropdown-item">
                                <btn class="btn btn-med" onclick="showCard('#shortcutsDisplay')"><i
                                            class="fa fa-keyboard-o" aria-hidden="true"></i> Keyboard Shortcuts
                                </btn>
                            </li>
                            <li class="nav-item dropdown-item">
                                <btn class="btn btn-med" onclick="showCard('#feedbackDisplay')"><i
                                            class="fa fa-send" aria-hidden="true"></i> Send Feedback
                                </btn>
                            </li>
                            <div class="dropdown-divider"></div>
                            <% if (_alerts.lastUpdated.length) { %>
                                <li id="recentChangesNavBtn" class="nav-item dropdown-item">
                                    <btn class="btn btn-med" onclick="showCard('#gradeChangesCardDisplay')"><i
                                                class="fa fa-clock-o" aria-hidden="true"></i> Sync Log
                                    </btn>
                                </li>
                            <% } %>
                            <li class="nav-item dropdown-item">
                                <a class="btn btn-med" href="/charts"><i
                                            class="fa fa-line-chart" aria-hidden="true"></i> Analytics
                                </a>
                            </li>
                            <div class="dropdown-divider"></div>
                            <li class="nav-item dropdown-item">
                                <btn class="btn btn-med" onclick="showChangelog()"><i
                                            class="fa fa-book" aria-hidden="true"></i> Changelog
                                </btn>
                            </li>
                            <li class="nav-item dropdown-item">
                                <a class="btn btn-med" href="/finalgradecalculator"><i
                                            class="fa fa-calculator" aria-hidden="true"></i> Calculator
                                </a>
                            </li>
                            <div class="dropdown-divider"></div>
                            <li class="nav-item dropdown-item">
                                <btn class="btn btn-med donate-nav-item" onclick="showCard('#settingsCardDisplay'); openTab(0)"><span class="donate"><span class="inner-donate">Donate</span></span>
                                </btn>
                            </li>
                        <% } %>
                    </ul>
                </li>
                <li id="syncGrades" class="nav-item popup">
                    <btn class="btn btn-med"
                         onclick="showCard('#updateGradesDisplay'); $('#inputPassword').trigger('focus')">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                        Sync
                    </btn>
                    <div class="popup-holder">
                        <span id="syncPopup"
                              class="nav-popups popup-bottom tutorial-popup">
                            Sync your grades with <% if (school === "basis") { %>Schoology<% } else { %>PowerSchool<% } %>
                        </span>
                    </div>
                </li>
            <% } %>
            <% if (page === "home") { %>
                <li id="settings" class="nav-item popup">
                    <btn class="btn btn-med" onclick="showCard('#settingsCardDisplay')">
                        <i class="fa fa-cog" aria-hidden="true"></i> Settings
                    </btn>
                    <div class="popup-holder">
                        <span id="settingsPopup"
                              class="nav-popups popup-bottom-right tutorial-popup"
                              style="min-width: 8rem;">
                            Click here to manage your preferences
                            <span class="gotIt"></span>
                        </span>
                    </div>
                </li>
            <% } else { %>
                <li id="home" class="nav-item">
                    <a class="btn btn-med" href="/">
                        <i class="fa fa-home" aria-hidden="true"></i> Home
                    </a>
                </li>
            <% } %>
            <li class="nav-item active">
                <a onclick="window.sessionStorage.setItem('currentPage','')" href="/logout" class="btn btn-med"> <i
                            class="fa fa-sign-out" aria-hidden="true"></i> Logout </a>
            </li>
        </ul>
    </div>
</nav>

<!-- Cards -->
<% if (page === "home") { %>
    <%- include('sync_grades_card.ejs', {theme: theme}); %>
<% } %>
<% if (page === "home") { %>
    <%- include('settings_card.ejs', {theme: theme}); %>
<% } %>
<% if (page === "home") { %>
    <%- include('changelog.ejs', {theme: theme}); %>
<% } %>
<% if (page === "home") { %>
    <%- include('feedback_card.ejs', {theme: theme}); %>
<% } %>
<% if (page === "home") { %>
    <%- include('keyboard_shortcuts.ejs', {theme: theme}); %>
<% } %>
<% if (page === "home") { %>
    <%- include('activate_beta_card.ejs', {theme: theme}); %>
<% } %>
<% if (page === "home" || page === "calc") { %>
    <%- include('logged_out.ejs', {theme: theme}); %>
<% } %>
<% if (page === "home") { %>
    <%- include('recent_changes.ejs', {theme: theme}); %>
<% } %>
<% if (page === "home") { %>
    <%- include('gpa_details.ejs', {theme: theme}); %>
<% } %>
<% if (page === "home") { %>
    <%- include('class_info.ejs', {theme: theme}); %>
<% } %>
<% if (page === "home" && _alerts.lastUpdated.length > 0) { %>
    <%- include('api_key_card.ejs', {theme: theme}); %>
<% } %>
<% if (page === "home") { %>
    <%- include('notification_settings_card.ejs', {theme: theme}); %>
<% } %>
<% if (page === "home") { %>
    <%- include('assignment_info.ejs', {theme: theme}); %>
<% } %>

<!-- Custom JavaScript -->
<script>

    let submittingForms = {};

    function sendData(event, data) {
        socket.emit(event, data);
    }

    function changeNotiSetting(name, value) {
        sendData("notification-settings-change", {[name]: value});
    }

    function changeSetting(name, value) {
        sendData("settings-change", {[name]: value});
    }

    function updateGrades(password, schoolPassword, gradeSync) {

        let _gradeSync = !schoolPassword;

        let messageBox = $(".updateGradesMessage");
        let message = $(".updateGradesMessage.alert .messageTxt");

        clearTimeout(checkLastUpdated);

        $(".fa-refresh").addClass("fa-spin").css("opacity", 0.5);

        messageBox.removeClass("alert-success").removeClass("alert-danger").addClass("alert-info");

        $(message).text("");

        $("#updateGradesDisplay input").trigger("blur");

        shortcutsEnabled = false;

        $("#loadingDisplay").show();

        $(`${_gradeSync ? "#syncGradesForm" : "#gradeSyncForm"}`).find("button").prop("disabled", true).find("div").addClass("loading");

        sendData("start-update", {
            gradeSync: gradeSync, schoolPassword: schoolPassword, userPassword: password
        });

        return false;
    }

    function ajaxPostForm(formID, fieldIDsToClear, messagesDivID, _async, doInstantly = false) {
        // Get the form.
        let form = $(formID);
        $(form).on("submit", function (event) {
            event.preventDefault();
            event.stopImmediatePropagation();

            if (submittingForms[formID]) {
                clearTimeout(submittingForms[formID]);
                delete submittingForms[formID];
            }
            submittingForms[formID] = setTimeout(() => {

                let formData;
                let message;
                let formMessagesDiv;

                // Serialize the form data.
                formData = $(form).serialize();

                // Get the messages.
                formMessagesDiv = $(messagesDivID);
                $(formMessagesDiv).find(".sk-chase-mini").css("display", "inline-block");
                message = $(formMessagesDiv).find(".messageTxt");
                $(message).text("");
                $(formMessagesDiv).removeClass("alert-success").removeClass("alert-danger").addClass("alert-info");
                $(formMessagesDiv).show();

                // Submit the form using AJAX.
                $.ajax({
                           type: "POST", url: $(form).attr("action"), data: formData, async: _async
                       }).done(function (response) {
                    if (typeof response === "string" && response.startsWith("<!")) {  // If logged out
                        $(".session-timeout").show();
                        $("body").find("*").not(".session-timeout").remove();
                        return;
                    }
                    console.log(response);
                    setTimeout(function () {
                        $(message).text(response);
                        $(formMessagesDiv).find(".sk-chase-mini").hide();
                        $(formMessagesDiv).removeClass("alert-info").removeClass("alert-danger").addClass("alert-success");
                    }, 500);

                    if (formID === "#changeSchoolEmail") {
                        schoolUsername = $("#school_email")[0].value;
                        updateNameDisplay(schoolUsername);
                        $($("#school_email")[0].form).find("button").prop("disabled", true);
                    }

                    // Show the div.
                    $(formMessagesDiv).show();

                    // Clear fields to clear
                    for (let i = 0; i < fieldIDsToClear.length; i++) {
                        $(fieldIDsToClear[i]).val("");
                        $(fieldIDsToClear[i]).trigger("blur");
                        if (formID === "#changePassword") {
                            $($(fieldIDsToClear[i])[0].previousElementSibling).removeClass("label-active");
                            if ($($(fieldIDsToClear[i])[0].previousElementSibling.children[0])) {
                                $($(fieldIDsToClear[i])[0].previousElementSibling.children[0]).text("");
                            }
                        }
                    }

                }).fail(function (data) {
                    // Make sure that the formMessages div has the alert-danger class
                    $($(formMessagesDiv)[1]).removeClass("alert-info");
                    $($(formMessagesDiv)[1]).addClass("alert-danger");

                    // Set the message text.
                    if (data.responseText !== "") {
                        if (data.responseText === "Incorrect login details.") {
                            $(message).text("Incorrect school password.");
                            $("#inputPassword").trigger("focus");
                        } else {
                            $(message).text(data.responseText);
                        }
                    } else {
                        console.log(formMessagesDiv);
                        $(message).text("Oops! An error occurred and your message could not be sent.");
                    }

                    // Show the div.
                    $(formMessagesDiv).css("display", "block");

                    // Hide loading
                    $(formMessagesDiv).find(".sk-chase-mini").hide();

                    if (formID === "#syncGradesForm" || formID === "#gradeSyncForm") {
                        clearTimeout(checkLastUpdated);
                    }

                });
            }, (doInstantly ? 0 : 400));
        });
    }

    function showCard(id) {
        disableScrolling();
        if (cardsDisplayed.includes(id.substring(1))) {
            cardsDisplayed.splice(cardsDisplayed.indexOf(id.substring(1)), 1);
        }
        cardsDisplayed.push(id.substring(1));
        $(".blurred-background").each(function () {
            if (cardsDisplayed.includes($($(this).parent())[0].id)) {
                $(this).parent().css("z-index", cardsDisplayed.indexOf($($(this).parent())[0].id) + minCardZIndex);
            }
        });
        $(id).fadeIn(100);
        if (id === "#settingsCardDisplay") {
            $($("#school_email").val(schoolUsername)[0].form).find("button").prop("disabled", true);
            checkLabel($("#school_email"));
            openTab(currentSettingsTab);
            updateTutorialProgress();
            $("#blur-range-picker").val(appearance.blurAmount || 4);
        }
        if (id === "#feedbackDisplay") {
            setupFeedbackForm();
            setupDiscord(true);
        }
    }

    function closeForm(id) {
        if (cardsDisplayed.length && cardsDisplayed.includes(id)) {
            for (let i = 0; i < cardsDisplayed.length; i++) {
                $("#" + cardsDisplayed[i]).finish();
            }
            cardsDisplayed = cardsDisplayed.filter(c => c !== id);
        }
        if (!cardsDisplayed.length) {
            enableScrolling();
        }
        let form = $("#" + id);
        form.fadeOut(100);
        let inputFields = $("#" + id + " .form-control").not(".dont-clear").not(":disabled");
        for (let i = 0; i < inputFields.length; i++) {
            inputFields[i].value = "";
            $(inputFields[i]).trigger("input");
        }
        if (id === "settingsCardDisplay") {
            closeMessage("passwordChangeMessage");
            closeMessage("emailChangeMessage");
            closeMessage("themeMessage");
        }
        if (id === "feedbackDisplay") {
            let feedbackForm = $("#feedbackForm");
            let oldFrame = feedbackForm.parent();
            feedbackForm.remove();
            oldFrame.append(`<iframe id="feedbackForm" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>`);
            setupFeedbackForm();
        }
        if (id === "changelogDisplay") {
            $(".changelog-parent, .changelog-parent > div").removeClass("show");
        }

        // Manage theme selection, if it exists
        try {
            let themeRadioButtons = document.getElementsByName("theme");
            if (theme === "auto") {
                themeRadioButtons[3].checked = true;
                $("#auto-limits-container").show();
                $("#sun-limits-container").hide();
            } else if (theme === "sun") {
                themeRadioButtons[2].checked = true;
                $("#auto-limits-container").hide();
                $("#sun-limits-container").show();
            } else if (theme === "dark") {
                themeRadioButtons[1].checked = true;
                $("#auto-limits-container, #sun-limits-container").hide();
            } else if (theme === "light") {
                themeRadioButtons[0].checked = true;
                $("#auto-limits-container, #sun-limits-container").hide();
            }
        } catch (e) {
        }

        // Manage gradeSync checkbox, if it exists
        try {
            let gradeSyncCheckBox = document.getElementById("gradeSyncToggle");
            if (gradeSync && !gradeSyncCheckBox.checked) {
                gradeSyncCheckBox.checked = true;
            } else if (!gradeSync && gradeSyncCheckBox.checked) {
                gradeSyncCheckBox.checked = false;
            }
        } catch (e) {
        }
    }

    // Collapse navbar or card when click outside
    $(document).mousedown(function (e) {
        //Auto hide for any card with blurred-login
        if ($(e.target).closest(".blurred-login").length) {
            if (!$(e.target).closest(".card").length) {
                closeForm($(e.target).closest(".blurred-login")[0].id);
            }
        }
        if (!$(e.target).closest("#collapsingNav").length && !$(e.target).is("#collapsingNav")) {
            $(".navbar-collapse").collapse("hide");
        }
    });
    // Collapse navbar or card when press escape
    $(document).keydown(function (e) {
        if ($("#loadingDisplay").css("display") === "none") {
            if (e.key === "Escape") { // escape key maps to keycode `27`
                let toggle = $(".dropdown-toggle");
                if (toggle.attr("aria-expanded") === "true") {
                    toggle.trigger("click");
                    return;
                }
                if (cardsDisplayed.length !== 0) {
                    closeForm(cardsDisplayed[cardsDisplayed.length - 1]);
                    return;
                }
                let addAssignmentContainer = $($(".add-assignment-container")[currentPage]);
                if (addAssignmentContainer.hasClass("active")) {
                    addAssignmentContainer.removeClass("active");
                }
            }
        }
    });

    let appearance = <%- JSON.stringify(_appearance); %>;
    enableSnow();
</script>
