<!-- Settings Card -->
<div class="container">
    <div class="blurred-login" id="settingsCardDisplay"
         style="position:fixed; display:none; height: 100%; width: 100%; top: 0; left: 0; z-index: 1">
        <div class="blurred-background" style="position: fixed; width: 100%; height: 100%; filter: opacity(0.7);"></div>
        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto">
            <div id="settingsCard" class="settings card card-signin my-5">
                <btn class="btn btn-md"
                     onclick="closeForm('settingsCardDisplay'); closeMessage('accountSettingsMessage'); closeMessage('alertSettingsMessage');"
                     style="width: fit-content; margin-bottom:0">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
                </btn>
                <div class="card-body">
                    <h1 class="card-title text-center"><span class="fa fa-cog"></span> Settings</h1>
                </div>
                <div class="tab">
                    <btn id="btn-1" class="tablinks active" onclick="openTab(1)">Appearance</btn>
                    <btn id="btn-2" class="tablinks" onclick="openTab(2)">Feedback</btn>
                    <btn id="btn-3" class="tablinks" onclick="openTab(3)">Account</btn>
                    <btn id="btn-4" class="tablinks" onclick="openTab(4);">Advanced</btn>
                </div>
                <div id="settings-1" class="tabcontent" style="display: block">
                    <div class="card-body">
                        <div class="card-footer">
                            <h5>Class Colors</h5>
                            <form id="randomizeClassColors" class="form-signin" action="/randomizeclasscolors"
                                  method="post">
                                <% for (var i = 0; i < user.grades.length; i++) { %>
                                    <label id="classColor<%= i %>"
                                           style="font-size: smaller; font-weight: bolder; cursor: pointer; color: <%= user.appearance.classColors[i] %>">
                                        <i id="lock<%= i %>" class="fa fa-lock" aria-hidden="true"></i> <label
                                                style="cursor: pointer"
                                                onclick="toggleColor(<%= i %>)"><%- user.grades[i].class_name %></label>
                                    </label>
                                <% } %>
                                <div style="display: flex">
                                    <button onclick="lockAllColors()" class="btn btn-default btn-med" type="button">Lock
                                        All
                                    </button>
                                    <button onclick="unlockAllColors()" class="btn btn-default btn-med" type="button">
                                        Unlock All
                                    </button>
                                    <button onclick="ajaxPostForm('#randomizeClassColors',[],<%= user.grades.length %>, false)"
                                            type="submit" class="btn btn-default btn-med">
                                        Randomize
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <h5>Theme</h5>
                            <div id="themeMessage" class="alert alert-success alert-dismissible"
                                 style="display:none">
                                <div class="messageTxt"></div>
                                <a class="close" onclick="closeMessage('themeMessage')" aria-label="close">X</a>
                            </div>
                            <form id="chooseTheme" class="form-signin" action="/updateAppearance" method="post">
                                <label style="cursor: pointer"> <input type="radio" value="light"
                                                                       name="theme"
                                    <% if (user.appearance.theme === "light") { %> checked
                                            <% } %>
                                    > Light</label>
                                <label style="cursor: pointer"> <input type="radio" value="dark"
                                                                       name="theme"
                                    <% if (user.appearance.theme === "dark") { %> checked
                                            <% } %>
                                    > Dark</label>
                                <label style="cursor: pointer"> <input type="radio" value="auto" type="checkbox"
                                                                       name="theme"
                                    <% if (user.appearance.theme === "auto") { %> checked
                                            <% } %>
                                    > Auto</label>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-default btn-med" onclick="ajaxPostForm('#chooseTheme',[],'#themeMessage',true);">
                                        Apply
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="settings-2" class="tabcontent">
                    <div class="card-body">
                        <iframe style="color: #FFFFFF; height: 50vh; width: 100%;"
                                src="https://docs.google.com/forms/d/e/1FAIpQLSfBiwyEi3TKH2Kr356ZOtLTUwUml9I9h_bWlOcraVXDyBIzbA/viewform?embedded=true"
                                frameborder="0" marginheight="0" marginwidth="0">Loading…
                        </iframe>
                    </div>
                </div>
                <div id="settings-3" class="tabcontent">
                    <div class="card-body">
                        <div id="accountSettingsMessage" class="alert alert-success alert-dismissible"
                             style="display:none">
                            <div class="messageTxt"></div>
                            <a class="close" onclick="closeMessage('accountSettingsMessage')" aria-label="close">X</a>
                        </div>
                        <form id="changePassword" class="card-footer form-signin" action="/changepassword"
                              method="post">
                            <div class="form-group">
                                <label>Change Password</label>
                                <input id="oldPassword" type="password" class="form-control" name="oldPass"
                                       placeholder="Old Password" required>
                                <input id="password" type="password" class="form-control"
                                       name="password" placeholder="New Password" required>
                            </div>
                            <div class="text-center">
                                <button type="submit"
                                        onclick="ajaxPostForm('#changePassword',['#oldPassword','#password'],'#accountSettingsMessage', true)"
                                        class="btn btn-default btn-med">
                                    Change Password
                                </button>
                            </div>
                        </form>
                        <form id="changeSchoolEmail" class="card-footer form-signin" style="margin-top: 1em"
                              action="/changeschoolemail" method="post">
                            <div class="form-group">
                                <label>Change School Email</label> <input id="school_email" type="text"
                                                                          class="form-control" name="school_email"
                                                                          required>
                            </div>
                            <div class="text-center">
                                <button type="submit"
                                        onclick="ajaxPostForm('#changeSchoolEmail',['#school_email'],'#accountSettingsMessage', false); updateSchoolUsernameDisplay()"
                                        class="btn btn-default btn-med">
                                    Change School Email
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="settings-4" class="tabcontent" style="display:none">
                    <div class="card-body">
                        <div class="card-footer">
                            <h5>Alerts</h5>
                            <div id="alertSettingsMessage" class="alert alert alert-success alert-dismissible"
                                 style="display:none">
                                <div class="messageTxt"></div>
                                <a class="close" onclick="closeMessage('alertSettingsMessage')" aria-label="close">X</a>
                            </div>
                            <form id="changeAlertSettings" class="form-signin" action="/changealertsettings"
                                  method="post">
                                <div class="form-group">
                                    <label>Grade Update Reminder:</label> <select style="float: right" class="dropdown"
                                                                                  name="updateGradesReminder">
                                        <option value="Daily"
                                        <% if (user.alerts.updateGradesReminder == 'Daily') { %> selected
                                                <% } %>
                                        >Daily
                                        </option>
                                        <option value="Weekly"
                                        <% if (user.alerts.updateGradesReminder == 'Weekly') { %> selected
                                                <% } %>
                                        >Weekly
                                        </option>
                                        <option value="Never"
                                        <% if (user.alerts.updateGradesReminder == 'Never') { %> selected
                                                <% } %>
                                        >Never
                                        </option>
                                    </select>
                                </div>
                                <div class="text-center">
                                    <button type="submit"
                                            onclick="ajaxPostForm('#changeAlertSettings',[],'#alertSettingsMessage', false); updateSchoolUsernameDisplay()"
                                            class="btn btn-default btn-med">
                                        Save
                                    </button>
                                </div>
                            </form>
                        </div>
                        <form id="gradeSync" class="form-signin" action="/updateGradeSync" method="post">
                            <% if (user.schoolPassword) { %>
                                <div class="card-footer">
                                    <h5>GradeSync</h5>
                                    <label style="cursor: pointer">
                                        <input id="gradeSyncToggle" type="checkbox" name="gradeSync"
                                        <% if (user.schoolPassword) { %> checked
                                                <% } %>
                                        > Enable
                                    </label>
                                    <br>
                                    <label style="cursor: pointer; text-align: left" class="popup">
                                        <input id="autoRefreshToggle" type="checkbox" name="autoRefresh"
                                        <% if (user.autoRefresh) { %> checked
                                                <% } %>
                                        > Auto-Refresh
                                        <i class="fa fa-info-circle popup">
                                                <span class="popuptext">
                                                    After GradeSync is complete, Graderoom will refresh automatically to display the most recent data.
                                                </span>
                                        </i>
                                    </label>
                                    <button type="submit" class="btn btn-default btn-med">
                                        Apply
                                    </button>
                                </div>
                            <% } %>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Custom JavaScript -->
<script type="text/javascript">

    function reload() {
        location.reload();
    }

    let lockedColors = Array(<%= user.grades.length %>).fill("Locked");

    function lockAllColors() {
        lockedColors.fill("Locked");
        updateClassColorsDisplay();
    }

    function unlockAllColors() {
        lockedColors.fill("Unlocked");
        updateClassColorsDisplay();
    }

    function getLockedColorIndices() {
        let result = [];
        let index = 0;
        for (let i = 0; i < lockedColors.length; i++) {
            if (lockedColors[i] == "Locked") {
                result[index] = i;
                index++;
            }
        }
        return result;
    }

    function updateClassColorsDisplay() {
        for (let i = 0; i < user.grades.length; i++) {
            let colorTextID = "#classColor" + i.toString();
            let lockID = "#lock" + i.toString();
            if (lockedColors[i] == "Locked") {
                $(colorTextID).css("fontWeight", "bolder");
                $(colorTextID).css("fontSize", "smaller");
                $(lockID).removeClass("fa-unlock");
                $(lockID).addClass("fa-lock");
            } else {
                $(colorTextID).css("fontWeight", "normal");
                $(colorTextID).css("fontSize", "small");
                $(lockID).removeClass("fa-lock");
                $(lockID).addClass("fa-unlock");
            }
        }
        console.log(lockedColors);
    }

    function toggleColor(index) {
        if (lockedColors[index] === "Locked") {
            lockedColors[index] = "Unlocked";
        } else {
            lockedColors[index] = "Locked";
        }
        updateClassColorsDisplay();
    }

    function updateClassColors(numClasses, colorsString) {
        let colors = colorsString;
        for (let i = 0; i < numClasses; i++) {
            document.getElementById("classColor" + i).style.color = colors[i];
        }
    }

    function updateSchoolUsernameDisplay() {
        document.getElementById("schoolUsernameDisplay").textContent = document.getElementById("school_email").value;
    }

    function showLoading() {
        $("#loadingDisplay").show();
        return done;
    }

    function openTab(tabIndex) {
        // Declare all variables
        let i, tabcontent, tablinks;
        let tabName = "settings-" + tabIndex;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].classList.remove("active");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        document.getElementById("btn-" + tabIndex).classList.add("active");
        currentTab = tabIndex;
    }

    function closeMessage(id) {
        document.getElementById(id).style.display = "none";
    }
</script>
