<!-- Settings Card -->
<div class="blurred-login" id="settingsCardDisplay"
     style="position:fixed; display:none; height: 100%; width: 100%; top: 0; left: 0; z-index: 1">
    <div class="blurred-background"></div>
    <div class="col-sm-11 col-md-10 col-lg-9 col-xl-6 mx-auto">
        <div id="settingsCard" class="card card-signin my-5">
            <btn class="btn btn-md"
                 onclick="closeForm('settingsCardDisplay')"
                 style="width: fit-content; margin-bottom:0">
                <i class="fa fa-close" aria-hidden="true"></i> Close
            </btn>
            <div class="card-body">
                <h1 class="card-title text-center"><span class="fa fa-cog"></span> Settings</h1>
            </div>
            <div id="reloadNeeded" style="display: none"></div>
            <div class="tab">
                <btn id="btn-1" class="tablinks active" onclick="openTab(1)">Appearance</btn>
                <btn id="btn-2" class="tablinks" onclick="openTab(2)">Account</btn>
                <btn id="btn-3" class="tablinks" onclick="openTab(3)">Advanced</btn>
                <btn id="btn-4" class="tablinks" onclick="openTab(4)">About</btn>
            </div>
            <div id="settings-1" class="tabcontent" style="display: block">
                <div class="card-body">
                    <% if (user.grades.length > 0) { %>
                        <div class="card-footer">
                            <h5>Class Colors</h5>
                            <h6>Click a color to change it</h6>
                            <div class="text-center">
                                <% for (var i = 0; i < user.grades.length; i++) { %>
                                    <label id="classColor<%= i %>"
                                           style="margin-bottom: 0; padding: 0 1rem 0 1rem; cursor: pointer; color: <%= user.appearance.classColors[i] %>; font-size: medium; font-weight: bolder;"
                                           onclick="ajaxPostForm('#randomizeClassColors' + <%= i %>,[],'',true)">
                                        <form id="randomizeClassColors<%= i %>" class="form-signin"
                                              action="/randomizeClassColors"
                                              method="post">
                                            <button type="submit" style="display: none"></button>
                                            <input name="index" value="<%= i %>" id="classColor<%= i %>"
                                                   style="display: none;">
                                            <%- user.grades[i].class_name %>
                                        </form>
                                    </label>
                                <% } %>
                            </div>
                        </div>
                    <% } %>
                    <div class="card-footer">
                        <h5>Theme</h5>
                        <form id="chooseTheme" class="form-signin" action="/updateAppearance" method="post">
                            <div id="theme">
                                <div id="themeMessage"
                                     class="alert alert-success alert-dismissible font-weight-bold"
                                     style="display:none">
                                    <div style="display:none" class="sk-chase-mini">
                                        <div class="sk-chase-dot mini"></div>
                                        <div class="sk-chase-dot mini"></div>
                                        <div class="sk-chase-dot mini"></div>
                                        <div class="sk-chase-dot mini"></div>
                                        <div class="sk-chase-dot mini"></div>
                                        <div class="sk-chase-dot mini"></div>
                                    </div>
                                    <div class="messageTxt"></div>
                                    <a class="close" onclick="closeMessage('themeMessage')" aria-label="close">X</a>
                                </div>
                                <label style="cursor: pointer"> <input style="cursor: inherit" type="radio"
                                                                       value="light"
                                                                       name="theme"
                                                                       onclick="$('#autoLimits').hide();
                                                                               $($($(this)[0].form)[0].elements[7]).hide();
                                                                               ajaxPostForm('#chooseTheme',['#darkModeStart','#darkModeFinish'],'#themeMessage',true);
                                                                               $($(this)[0].form).submit();"
                                    <% if (user.appearance.theme === "light") { %> checked
                                            <% } %>
                                    > Light Theme
                                </label>
                                <br>
                                <label style="cursor: pointer"> <input style="cursor: inherit" type="radio"
                                                                       value="dark"
                                                                       name="theme"
                                                                       onclick="$('#autoLimits').hide()
                                                                               $($($(this)[0].form)[0].elements[7]).hide();
                                                                               ajaxPostForm('#chooseTheme',['#darkModeStart','#darkModeFinish'],'#themeMessage',true);
                                                                               $($(this)[0].form).submit();"
                                    <% if (user.appearance.theme === "dark") { %> checked
                                            <% } %>
                                    > Dark Theme</label>
                                <br>
                                <label style="cursor: pointer"> <input style="cursor: inherit" type="radio"
                                                                       value="auto"
                                                                       name="theme"
                                                                       onclick="$('#autoLimits').show().css('display','flex');
                                                                               ajaxPostForm('#chooseTheme',['#darkModeStart','#darkModeFinish'],'#themeMessage',true);
                                                                               $($(this)[0].form).submit();
                                                                               $($($(this)[0].form)[0].elements[7]).show().attr('disabled','disabled')"
                                    <% if (user.appearance.theme === "auto") { %> checked
                                            <% } %>
                                    > Automatic
                                </label>
                            </div>
                            <div style="display: inline-flex">
                                <label class="form-group" id="autoLimits"
                                       style="<% if (user.appearance.theme !== 'auto') { %>display: none;<% } else { %>display: inline-flex;<% } %>font-size: 0.9rem; margin-bottom: 0;">
                                    <label style="vertical-align: center">
                                        Dark theme from
                                    </label>
                                    <input id="darkModeStart"
                                           style="padding: 0 0.75rem 0 0.75rem; width: 3rem !important"
                                           type="number"
                                           class="text-center number-input form-control" name="darkModeStart"
                                           min="1"
                                           max="12"
                                           oninput="$($($(this)[0].form)[0].elements[7]).removeAttr('disabled');">
                                    <select style="margin-left: 0 !important" id="darkModeStartAmPm"
                                            class="dropdown"
                                            name="darkModeStartAmPm"
                                            oninput="$($($(this)[0].form)[0].elements[7]).removeAttr('disabled');">
                                        <option value="PM"
                                        <% if (user.appearance.darkModeStart >= 12 && user.appearance.darkModeStart !== 24) { %>
                                                selected
                                                <% } %>
                                        >PM
                                        </option>
                                        <option value="AM"
                                        <% if (user.appearance.darkModeStart < 12 || user.appearance.darkModeStart === 24) { %>
                                                selected
                                                <% } %>
                                        >AM
                                        </option>
                                    </select>
                                    <label style="margin-left: 0.25rem">
                                        to
                                    </label>
                                    <input id="darkModeFinish"
                                           style="padding: 0 0.75rem 0 0.75rem; width: 3rem !important"
                                           type="number"
                                           class="text-center number-input form-control" name="darkModeFinish"
                                           min="1"
                                           max="12"
                                           oninput="$($($(this)[0].form)[0].elements[7]).removeAttr('disabled');">
                                    <select style="margin-left: 0 !important" id="darkModeFinishAmPm"
                                            class="dropdown"
                                            name="darkModeFinishAmPm"
                                            oninput="$($($(this)[0].form)[0].elements[7]).removeAttr('disabled');">
                                        <option value="AM"
                                        <% if (user.appearance.darkModeFinish < 12 || user.appearance.darkModeFinish === 24) { %>
                                                selected
                                                <% } %>
                                        >AM
                                        </option>
                                        <option value="PM"
                                        <% if (user.appearance.darkModeFinish >= 12 && user.appearance.darkModeFinish !== 24) { %>
                                                selected
                                                <% } %>
                                        >PM
                                        </option>
                                    </select>
                                </label>
                                <button class="btn-default btn btn-sm" type="submit"
                                        style="<% if (user.appearance.theme !== 'auto') { %>display: none;<% } %> margin: 0 0 0 1rem !important; width: fit-content !important;"
                                        onclick="ajaxPostForm('#chooseTheme',['#darkModeStart','#darkModeFinish'],'#themeMessage',true);"
                                        disabled>
                                    Apply
                                </button>
                            </div>
                        </form>
                    </div>
                        <% if (Object.keys(JSON.parse(relevantClassData)).reduce(function (filtered, key) {
                            if (JSON.parse(relevantClassData)[key]["classType"] === "non-academic") {
                                filtered[key] = JSON.parse(relevantClassData[key])
                            }
                            return filtered;
                        }, {}).length > 0) { %>
                            <div class="card-footer">
                                <h5>Advanced</h5>
                                <div id="advancedMessage"
                                     class="alert alert-success alert-dismissible font-weight-bold"
                                     style="display:none">
                                    <div style="display:none" class="sk-chase-mini">
                                        <div class="sk-chase-dot mini"></div>
                                        <div class="sk-chase-dot mini"></div>
                                        <div class="sk-chase-dot mini"></div>
                                        <div class="sk-chase-dot mini"></div>
                                    <div class="sk-chase-dot mini"></div>
                                    <div class="sk-chase-dot mini"></div>
                                </div>
                                <div class="messageTxt"></div>
                                <a class="close" onclick="closeMessage('advancedMessage')" aria-label="close">X</a>
                            </div>
                            <form id="advancedAppearance" action="/setShowNonacademic" method="post"
                                  onsubmit="$('#advancedSubmit').attr('disabled','disabled')">
                                <label style="cursor: pointer">
                                    <input id="showNonAcademicCheckbox" type="checkbox" name="showNonAcademic"
                                    <% if (user.appearance.showNonAcademic) { %> checked
                                            <% } %>
                                           oninput="$('#advancedSubmit').removeAttr('disabled')"
                                    > Show Non-Academic Classes
                                </label>
                                <button id="advancedSubmit" class="btn-default btn btn-sm" type="submit"
                                        onclick="$('#reloadNeeded').text('Reload Needed'); ajaxPostForm('#advancedAppearance',[],'#advancedMessage',true)"
                                        disabled>
                                    Apply
                                </button>
                            </form>
                        </div>
                        <% } %>
                </div>
            </div>
            <div id="settings-2" class="tabcontent">
                <div class="card-body">
                    <div id="accountSettingsMessage" class="alert alert-success alert-dismissible font-weight-bold"
                         style="display:none">
                        <div style="display:none" class="sk-chase-mini">
                            <div class="sk-chase-dot mini"></div>
                            <div class="sk-chase-dot mini"></div>
                            <div class="sk-chase-dot mini"></div>
                            <div class="sk-chase-dot mini"></div>
                            <div class="sk-chase-dot mini"></div>
                            <div class="sk-chase-dot mini"></div>
                        </div>
                        <div class="messageTxt"></div>
                        <a class="close" onclick="closeMessage('accountSettingsMessage')" aria-label="close">X</a>
                    </div>
                    <form id="changePassword" class="card-footer form-signin" action="/changepassword"
                          method="post">
                        <div class="form-group">
                            <label>Change Password</label>
                            <input id="oldPassword" type="password" class="form-control" name="oldPass"
                                   placeholder="Old Password" required>
                            <input id="password" type="password" class="form-control"
                                   name="password" placeholder="New Password" required>
                        </div>
                        <div class="text-center">
                            <button type="submit"
                                    onclick="ajaxPostForm('#changePassword',['#oldPassword','#password'],'#accountSettingsMessage', true)"
                                    class="btn btn-default btn-med">
                                Change Password
                            </button>
                        </div>
                    </form>
                    <form id="changeSchoolEmail" class="card-footer form-signin" style="margin-top: 1em"
                          action="/changeschoolemail" method="post">
                        <div class="form-group">
                            <label>Change School Email</label> <input id="school_email" type="text"
                                                                      class="form-control" name="school_email"
                                                                      required>
                        </div>
                        <div class="text-center">
                            <button type="submit"
                                    onclick=" updateSchoolUsernameDisplay(); ajaxPostForm('#changeSchoolEmail',['#school_email'],'#accountSettingsMessage', true);"
                                    class="btn btn-default btn-med">
                                Change School Email
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="settings-3" class="tabcontent" style="display:none">
                <div class="card-body">
                    <div class="card-footer">
                        <h5>Alerts</h5>
                        <div id="alertSettingsMessage"
                             class="alert alert alert-success alert-dismissible font-weight-bold"
                             style="display:none">
                            <div style="display:none" class="sk-chase-mini">
                                <div class="sk-chase-dot mini"></div>
                                <div class="sk-chase-dot mini"></div>
                                <div class="sk-chase-dot mini"></div>
                                <div class="sk-chase-dot mini"></div>
                                <div class="sk-chase-dot mini"></div>
                                <div class="sk-chase-dot mini"></div>
                            </div>
                            <div class="messageTxt"></div>
                            <a class="close" onclick="closeMessage('alertSettingsMessage')" aria-label="close">X</a>
                        </div>
                        <form id="changeAlertSettings" class="form-signin" action="/changealertsettings"
                              method="post">
                            <div class="form-group" style="margin: 0">
                                <label>Show Changelog:</label> <select style="float: right" class="dropdown"
                                                                       name="showChangelog">
                                    <option value="always"
                                    <% if (user.alerts.showChangelog == 'always') { %> selected
                                            <% } %>
                                    >Always
                                    <option value="daily"
                                    <% if (user.alerts.showChangelog == 'daily') { %> selected
                                            <% } %>
                                    >Daily
                                    </option>
                                    <option value="weekly"
                                    <% if (user.alerts.showChangelog == 'weekly') { %> selected
                                            <% } %>
                                    >Weekly
                                    </option>
                                    <option value="never"
                                    <% if (user.alerts.showChangelog == 'never') { %> selected
                                            <% } %>
                                    >Never
                                    </option>
                                </select>
                                <br>
                                <label>Grade Update Reminder:</label> <select style="float: right" class="dropdown"
                                                                              name="updateGradesReminder">
                                    <option value="daily"
                                    <% if (user.alerts.updateGradesReminder == 'daily') { %> selected
                                            <% } %>
                                    >Daily
                                    </option>
                                    <option value="weekly"
                                    <% if (user.alerts.updateGradesReminder == 'weekly') { %> selected
                                            <% } %>
                                    >Weekly
                                    </option>
                                    <option value="never"
                                    <% if (user.alerts.updateGradesReminder == 'never') { %> selected
                                            <% } %>
                                    >Never
                                    </option>
                                </select>
                            </div>
                            <div class="text-center">
                                <button type="submit"
                                        onclick="ajaxPostForm('#changeAlertSettings',[],'#alertSettingsMessage', true); updateSchoolUsernameDisplay()"
                                        class="btn btn-default btn-med">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                    <form id="gradeSync" class="form-signin" action="/updateGradeSync" method="post">
                        <% if (user.schoolPassword) { %>
                            <div class="card-footer">
                                <h5>GradeSync</h5>
                                <label style="cursor: pointer">
                                    <input id="gradeSyncToggle" type="checkbox" name="gradeSync"
                                    <% if (user.schoolPassword) { %> checked
                                            <% } %>
                                    > Enable
                                </label>
                                <br>
                                <label style="cursor: pointer; text-align: left" class="popup">
                                    <input id="autoRefreshToggle" type="checkbox" name="autoRefresh"
                                    <% if (user.autoRefresh) { %> checked
                                            <% } %>
                                    > Auto-Refresh
                                    <i class="fa fa-info-circle popup">
                                        <span class="popuptext">
                                            After GradeSync is complete, Graderoom will refresh automatically to display
                                            the most recent data.
                                        </span>
                                    </i>
                                </label>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-default btn-med">
                                        Apply
                                    </button>
                                </div>
                            </div>
                        <% } %>
                    </form>
                    <form id="remoteAccess" class="form-signin" action="/setRemoteAccess" method="post">
                        <div class="card-footer">
                            <div id="remoteAccessMessage"
                                 class="alert alert alert-success alert-dismissible font-weight-bold"
                                 style="display:none">
                                <div style="display:none" class="sk-chase-mini">
                                    <div class="sk-chase-dot mini"></div>
                                    <div class="sk-chase-dot mini"></div>
                                    <div class="sk-chase-dot mini"></div>
                                    <div class="sk-chase-dot mini"></div>
                                    <div class="sk-chase-dot mini"></div>
                                    <div class="sk-chase-dot mini"></div>
                                </div>
                                <div class="messageTxt"></div>
                                <a class="close" onclick="closeMessage('remoteAccessMessage')" aria-label="close">X</a>
                            </div>
                            <label style="cursor: pointer">
                                <input id="remoteAccessToggle" type="checkbox" name="remoteAccess"
                                <% if (user.alerts.remoteAccess === "allowed") { %> checked
                                        <% } %>
                                > Allow Remote Access
                            </label>
                            <div class="text-center">
                                <button onclick="ajaxPostForm('#remoteAccess',[],'#remoteAccessMessage',true)"
                                        type="submit" class="btn btn-default btn-med">
                                    Apply
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="settings-4" class="tabcontent">
                <div class="card-body">
                    <div class="card-footer">
                        <h5>Contact Us</h5>
                        <p>Email: <a href="mailto: graderoom@gmail.com">graderoom@gmail.com</a></p>
                    </div>
                    <div class="card-footer">
                        <h5>Quick Links</h5>
                        <button class="btn btn-sm" style="margin: 0.1rem"
                                onclick="showCard('#feedbackDisplay')">
                            <label style="margin: 0; cursor: pointer">Feedback Form
                                <span class="fa fa-external-link-square"></span>
                            </label>
                        </button>
                        <br>
                        <button class="btn btn-sm" style="margin: 0.1rem"
                                onclick="showCard('#termsDisplay')">
                            <label style="margin: 0; cursor: pointer;">Terms And Conditions
                                <span class="fa fa-external-link-square"></span>
                            </label>
                        </button>
                        <br>
                        <button class="btn btn-sm" style="margin: 0.1rem"
                                onclick="showCard('#privacyDisplay')">
                            <label style="margin: 0; cursor: pointer;">Privacy Policy
                                <span class="fa fa-external-link-square"></span>
                            </label>
                        </button>
                        <br>
                        <button class="btn btn-sm" style="margin: 0.1rem"
                                onclick="showChangelog(); $('#changelogMessage').hide()">
                            <label style="margin: 0; cursor: pointer;">Changelog
                                <span class="fa fa-external-link-square"></span>
                            </label>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Custom JavaScript -->
<script type="text/javascript">

    function reload() {
        location.reload();
    }

    function updateClassColors(colorsString) {
        let colors = colorsString;
        for (let i = 0; i < colors.length; i++) {
            document.getElementById("classColor" + i).style.color = colors[i];
        }
    }

    function updateSchoolUsernameDisplay() {
        document.getElementById("schoolUsernameDisplay").textContent = document.getElementById("school_email").value;
    }

    function showLoading() {
        $("#loadingDisplay").show();
        return done;
    }

    function openTab(tabIndex) {
        // Declare all variables
        let i, tabcontent, tablinks;
        let tabName = "settings-" + tabIndex;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].classList.remove("active");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        document.getElementById("btn-" + tabIndex).classList.add("active");
        currentTab = tabIndex;
    }

    function closeMessage(id) {
        document.getElementById(id).style.display = "none";
    }
</script>
