<!-- Settings Card -->
<div class="container">
    <div class="blurred-login" id="settingsCardDisplay" style="position:fixed; display:none; height: 100%; width: 100%; top: 0; left: 0; z-index: 1">
        <div class="blurred-background" style="position: fixed; width: 100%; height: 100%; filter: opacity(0.7);"></div>
        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto">
            <div id="settingsCard"  class="settings card card-signin my-5">
                <btn class="btn btn-md" onclick="closeForm('settingsCardDisplay'); closeMessage('accountSettingsMessage'); closeMessage('alertSettingsMessage')" style="width: fit-content; margin-bottom:0">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    Back
                </btn>
                <div class="card-body">
                    <h1 class="card-title text-center"><span class="fa fa-cog"></span> Settings</h1>
                </div>
                <div class="tab">
                    <btn id="btnAppearance" class="tablinks active" onclick="openTab('Appearance'); openSubTab('Appearance','Class Colors')">Appearance</btn>
                    <btn id="btnAccount" class="tablinks" onclick="openTab('Account')">Account</btn>
                    <btn id="btnAlerts" class="tablinks" onclick="openTab('Alerts')">Alerts</btn>
                </div>
                <div id="Appearance" class="tabcontent" style="display:block">
                    <div class="card-body" style="cursor: default">
                        <div class="tab" style="width: ">
                            <btn id="btnClass Colors" class="tablinks active" onclick="openSubTab('Appearance','Class Colors')">Class Colors</btn>
                            <btn id="btnTheme" class="tablinks" onclick="openSubTab('Appearance','Theme')">Theme</btn>
                        </div>
                        <div id="Class Colors" class="tabcontent" style="display:block">
                            <h6>Click a color to lock or unlock it</h6>
                            <form id="randomizeClassColors" class="form-signin" action="/randomizeclasscolors" method="post">
                                <% for (var i = 0; i < user.grades.length; i++) { %>
                                <label id="classColor<%=i%>" style="font-size: larger; font-weight: bolder; cursor: pointer; color: <%=user.appearance.classColors[i]%>">
                                    <i id="lock<%=i%>" class="fa fa-lock" aria-hidden="true"></i>
                                    <label style="cursor: pointer" onclick="toggleColor(<%=i%>)"><%-user.grades[i].class_name%></label>
                                </label>
                                <% } %>
                                <div style="display: flex">
                                    <button onclick="lockAllColors()" class="btn btn-default btn-lg" type="button">Lock All</button>
                                    <button onclick="unlockAllColors()" class="btn btn-default btn-lg" type="button">Unlock All</button>
                                    <button onclick="ajaxPostForm('#randomizeClassColors',[],<%=user.grades.length%>)" type="submit" class="btn btn-default btn-lg">
                                        Randomize
                                    </button>
                                </div>
                                <button onclick="reload()" type="button" class="btn btn-default btn-lg">
                                    Apply
                                </button>
                            </form>
                        </div>
                        <div id="Theme" class="tabcontent" style="display: none">
                            <h3>Overall Appearance</h3>
                            <form id="updateAppearance" class="form-signin" action="/updateappearance" method="post">
                                <label style="cursor: pointer">
                                    <input id="darkModeToggle" type="checkbox" name="darkMode" <% if (user.appearance.darkMode) { %> checked <% } %>>Dark Mode
                                </label>
                                <button type="submit" class="btn btn-default btn-lg">
                                    Apply
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="Account" class="tabcontent">
                    <div class="card-body">
                        <div id="accountSettingsMessage" class="alert alert-success alert-dismissible" style="display:none">
                            <div class="messageTxt"></div>
                            <a class="close" onclick="closeMessage('accountSettingsMessage')" aria-label="close">X</a>
                        </div>
                        <form id="changePassword" class="form-signin" action="/changepassword" method="post">
                            <div class="form-group">
                                <label>Change Password</label>
                                <input id="password" type="password" class="form-control" name="password">
                            </div>
                            <div class="text-center">
                                <button type="submit" onclick="ajaxPostForm('#changePassword',['#password'],'#accountSettingsMessage')" class="btn btn-default btn-lg">
                                    Change Password
                                </button>
                            </div>
                        </form>
                        <form id="changeSchoolEmail" class="form-signin" style="margin-top: 1em" action="/changeschoolemail" method="post">
                            <div class="form-group">
                                <label>Change School Email</label>
                                <input id="school_email" type="text" class="form-control" name="school_email">
                            </div>
                            <div class="text-center">
                                <button type="submit" onclick="ajaxPostForm('#changeSchoolEmail',['#school_email'],'#accountSettingsMessage'); updateSchoolUsernameDisplay()" class="btn btn-default btn-lg">
                                    Change School Email
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="Alerts" class="tabcontent">
                    <div class="card-body">
                        <div id="alertSettingsMessage" class="alert alert alert-success alert-dismissible" style="display:none">
                            <div class="messageTxt"></div>
                            <a class="close" onclick="closeMessage('alertSettingsMessage')" aria-label="close">X</a>
                        </div>
                        <form id="changeAlertSettings" class="form-signin" action="/changealertsettings" method="post">
                            <div class="form-group">
                                <label>Grade Update Reminder:</label>
                                <select style="float: right" class="dropdown" name="updateGradesReminder">
                                    <option value="Daily" <% if (user.alerts.updateGradesReminder == 'Daily') { %> selected <% } %>>Daily</option>
                                    <option value="Weekly" <% if (user.alerts.updateGradesReminder == 'Weekly') { %> selected <% } %>>Weekly</option>
                                    <option value="Never" <% if (user.alerts.updateGradesReminder == 'Never') { %> selected <% } %>>Never</option>
                                </select>
                            </div>
                            <div class="text-center">
                                <button type="submit" onclick="ajaxPostForm('#changeAlertSettings',[],'#alertSettingsMessage'); updateSchoolUsernameDisplay()" class="btn btn-default btn-lg">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Custom JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">

    function reload() {
        location.reload();
    }

    let lockedColors = Array(<%=user.grades.length%>).fill('Locked');

    function lockAllColors() {
        lockedColors.fill('Locked');
        updateClassColorsDisplay();
    }

    function unlockAllColors() {
        lockedColors.fill('Unlocked');
        updateClassColorsDisplay();
    }

    function getLockedColorIndices() {
        let result = [];
        let index = 0;
        for (let i = 0; i < lockedColors.length; i++) {
            if (lockedColors[i] == 'Locked') {
                result[index] = i;
                index++;
            }
        }
        return result;
    }

    function updateClassColorsDisplay() {
        for (let i = 0; i < user.grades.length; i++) {
            let colorTextID = '#classColor' + i.toString();
            let lockID = '#lock' + i.toString();
            if (lockedColors[i] == 'Locked') {
                $(colorTextID).css('fontWeight','bolder');
                $(colorTextID).css('fontSize','larger')
                $(lockID).removeClass('fa-unlock');
                $(lockID).addClass('fa-lock');
            } else {
                $(colorTextID).css('fontWeight','normal');
                $(colorTextID).css('fontSize','large');
                $(lockID).removeClass('fa-lock');
                $(lockID).addClass('fa-unlock');
            }
        }
        console.log(lockedColors);
    }

    function toggleColor(index) {
        if (lockedColors[index] === 'Locked') {
            lockedColors[index] = 'Unlocked';
        } else {
            lockedColors[index] = 'Locked';
        }
        updateClassColorsDisplay();
    }

    function updateClassColors(numClasses, colorsString) {
        let colors = colorsString;
        for (let i = 0; i < numClasses; i++) {
            document.getElementById('classColor' + i).style.color = colors[i];
        }
    }

    function updateSchoolUsernameDisplay() {
        document.getElementById('schoolUsernameDisplay').textContent = document.getElementById('school_email').value;
    }

    function ajaxPostForm(formID, fieldIDsToClear, messagesDivID) {
        // Get the form.
        let form = $(formID);

        $(form).submit(function(event) {
            // Stop the browser from submitting the form.
            event.preventDefault();

            let formData;
            let message;

            // Different behavior for class colors
            if (formID == '#randomizeClassColors') {
                let data = getLockedColorIndices();
                let dataArr = []
                for (let i = 0; i < data.length; i++) {
                    dataArr.push(`${data[i]}`);
                }
                formData = 'lockedColorIndices=' + JSON.stringify(dataArr);
            } else {
                // Serialize the form data.
                formData = $(form).serialize();

                // Get the messages.
                let formMessagesDiv = $(messagesDivID);
                message = $(formMessagesDiv).find('.messageTxt');
            }

            // Submit the form using AJAX.
            $.ajax({
                type: 'POST',
                url: $(form).attr('action'),
                data: formData,
                async: false
            })

            .done(function(response) {
                // Special behavior for class colors.
                if (formID == '#randomizeClassColors') {
                    // numClasses is contained in messagesDivID
                    // colors come from response
                    updateClassColors(messagesDivID, response);
                } else {
                    // Make sure that the formMessages div has the alert-success class.
                    $(formMessagesDiv).removeClass('alert-danger');
                    $(formMessagesDiv).addClass('alert-success');

                    // Set the message text.
                    $(message).text(response);

                    // Show the div.
                    $(formMessagesDiv).css('display', 'block');

                    // Clear fields to clear
                    for (let i = 0; i < fieldIDsToClear.length; i++) {
                        $(fieldIDsToClear[i]).val('');
                    }
                }
            })

            .fail(function(data) {
                // Make sure that the formMessages div has the alert-danger class
                $(formMessagesDiv).removeClass('alert-success');
                $(formMessagesDiv).addClass('alert-danger');

                // Set the message text.
                if (data.responseText !== '') {
                    $(message).text(data.responseText);
                } else {
                    $(message).text('Oops! An error occurred and your message could not be sent.');
                }

                // Show the div.
                $(formMessagesDiv).css('display','block');
            })
        })
    }

    function openSubTab(parentName, tabName) {
        // Show the parent tab
        openTab(parentName);

        // Show the current subtab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        document.getElementById('btn' + tabName).classList.add('active');
    }

    function openTab(tabName) {
        // Declare all variables
        let i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].classList.remove('active');
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        document.getElementById('btn' + tabName).classList.add('active');
    }

    function closeMessage(id) {
        document.getElementById(id).style.display = 'none';
    }
</script>