<% if (_termsAndSemesters.reduce((sum, val) => sum + val[1].length, 0) > 1) { %>
    <div id="termSwitcher" class="blur">
        <% for (let i = 0; i < _termsAndSemesters.length; i++) { %>
            <div id="<%= _termsAndSemesters[i][0]; %>"
            <% if (term === _termsAndSemesters[i][0]) { %> class="blur active"
                 <% } else { %>class = "blur"
                    <% } %>
            >
                <%= _termsAndSemesters[i][0]; %>
                <% for (let j = 0; j < _termsAndSemesters[i][1].length; j++) { %>
                    <div onclick="goToSemester('<%= _termsAndSemesters[i][0]; %>', '<%= _termsAndSemesters[i][1][j]; %>')"
                         id="<%= _termsAndSemesters[i][0]; %><%= _termsAndSemesters[i][1][j]; %>"
                    <% if (term === _termsAndSemesters[i][0] && semester === _termsAndSemesters[i][1][j]) { %> class="active"
                            <% } %>
                    >
                        <%= _termsAndSemesters[i][1][j] %>
                    </div>
                <% } %>
            </div>
        <% } %>
    </div>

    <script>
        function goToSemester(term, semester) {
            let search = new URLSearchParams(window.location.search);
            if (search.get("term") !== term || search.get("semester") !== semester) {
                search.set("term", term);
                search.set("semester", semester);
                window.location.search = search;
            }
        }
    </script>
<% } %>
