<!doctype html>
<html lang="en-US">
<head>
    <title>Graderoom</title>
    <link rel="icon" href="../../public/resources/common/icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap">
    <% let theme; %>
    <% let zeroTime = new Date(0); %>
    <% zeroTime.setHours(new Date().getHours()); %>
    <% zeroTime.setMinutes(new Date().getMinutes()); %>
    <% zeroTime = zeroTime.getTime(); %>
    <% if (JSON.parse(appearance).theme === "dark") { %>
        <% theme = true; %>
        <link id="pageStyle" rel="stylesheet" type="text/css" href="../../public/css/dark_mode.css">
    <% } else if (JSON.parse(appearance).theme === "light") { %>
        <% theme = false; %>
        <link id="pageStyle" rel="stylesheet" type="text/css" href="../../public/css/light_mode.css">
    <% } else if (JSON.parse(appearance).theme === "auto" && (((JSON.parse(appearance).darkModeStart < JSON.parse(appearance).darkModeFinish) && ((zeroTime >= JSON.parse(appearance).darkModeStart) && (zeroTime < JSON.parse(appearance).darkModeFinish))) || ((JSON.parse(appearance).darkModeStart > JSON.parse(appearance).darkModeFinish) && ((zeroTime >= JSON.parse(appearance).darkModeStart) || (zeroTime < JSON.parse(appearance).darkModeFinish))))) { %>
        <% theme = true; %>
        <link id="pageStyle" rel="stylesheet" type="text/css" href="../../public/css/dark_mode.css">
    <% } else if (JSON.parse(appearance).theme === "system") { %>
        <% theme = true; %>
        <link id="pageStyle" rel="stylesheet" type="text/css" href="../../public/css/dark_mode.css">
    <% } else if ((zeroTime >= sunset.getTime()) || (zeroTime <= sunrise.getTime())) { %>
        <% theme = true; %>
        <link id="pageStyle" rel="stylesheet" type="text/css" href="../../public/css/dark_mode.css">
    <% } else { %>
        <% theme = false; %>
        <link id="pageStyle" rel="stylesheet" type="text/css" href="../../public/css/light_mode.css">
    <% } %>
    <link rel="stylesheet" type="text/css" href="../../public/css/main.css">
    <link id="blur_base" rel="stylesheet" type="text/css" href="../../public/css/blur.css"
          <% if (!JSON.parse(appearance).blurEffects) { %>disabled
            <% } %>
    >
    <link id="blur_overrides" rel="stylesheet" type="text/css" <% if (theme === true) { %>
          href="public/css/dark_blur.css"<% } else if (theme === false) { %> href="public/css/light_blur.css"<% } %>
          <% if (!JSON.parse(appearance).blurEffects) { %>disabled
            <% } %>
    >
    <link id="fade" rel="stylesheet" type="text/css" href="../../public/css/fade.css" disabled>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<!-- Admin Navbar -->
<% include ../partials/admin/admin_navbar.ejs %>

<!-- Term Switcher -->
<div id="termSwitcher" class="blur">
    <% for (let i = 0; i < JSON.parse(termsAndSemesters).length; i++) { %>
        <div id="<%= JSON.parse(termsAndSemesters)[i][0]; %>" <% if (term===JSON.parse(termsAndSemesters)[i][0]) { %> class="active" <% } %>>
            <%= JSON.parse(termsAndSemesters)[i][0]; %>
            <% for (let j = 0; j < JSON.parse(termsAndSemesters)[i][1].length; j++) { %>
                <div onclick="window.location.href='/classes/?term=<%= JSON.parse(termsAndSemesters)[i][0]; %>&semester=<%= JSON.parse(termsAndSemesters)[i][1][j]; %>'"
                     id="<%= JSON.parse(termsAndSemesters)[i][0]; %><%= JSON.parse(termsAndSemesters)[i][1][j]; %>"
                     <% if (term===JSON.parse(termsAndSemesters)[i][0] && semester===JSON.parse(termsAndSemesters)[i][1][j]) { %> class="active" <% } %>>
                     <%= JSON.parse(termsAndSemesters)[i][1][j] %>
                </div>
            <% } %>
        </div>
    <% } %>
</div>

<br>
<!-- Main Screen -->
<div id="weightsCard" class="container" style="border-radius:0.5rem">
    <h5 style="font-size: 1.5rem; text-align:center"><%= term %> | <%= semester %> </h5>
    <span class="accordion" id="bigAccordionForms">
        <hr>
        <% for (let i = 0; i < Object.keys(classData).length; i++) { %>
            <% let className = Object.keys(classData)[i]; %>
            <label style="display: flex; cursor: pointer" class="accordion-label collapsed" data-toggle="collapse"
                   href="#accordionForms<%= i %>">
                <h5 style="font-size: 1.5rem !important;"><%= className %>
                    <% let type = ""; %>
                    <% switch (classData[className].classType) {
                        case "":
                            break;
                        case "non-academic":
                            type = "NA";
                            break;
                        case "none":
                            type = "NONE";
                            break;
                        case "ap":
                            type = "AP";
                            break;
                        case "honors":
                            type = "HONORS";
                            break;
                        default:
                            break;
                    } %>
                    <% let ucType; %>
                    <% switch (classData[className].uc_csuClassType) {
                        case "":
                            ucType = "NOTUC"
                            break;
                        case "uc":
                            ucType = "UC";
                            break;
                        case "uc_ap":
                            ucType = "UCAP";
                            break;
                        case "uc_hon":
                            ucType = "UCHONORS";
                            break;
                        default:
                            break;
                    } %>
                    <div style="display: inline-flex; flex-flow: column-reverse; align-items: center; justify-content: center">
                        <span style="font-size: 0.5rem"><%= type %></span>
                        <span style="font-size: 0.5rem"><%= ucType %></span>
                    </div>
                    <i class="fa" aria-hidden="true"></i>
                </h5>
                <% if (!Object.entries(classData[className]).find(([c, t]) => _.isObject(t) && !Array.isArray(t) && Object.keys(classData[className][c]["weights"]).length)) { %>
                    <i class="fa fa-exclamation-circle" style="padding-top: 8px; margin-bottom: 0.5rem; margin-left: 0.5rem; margin-right: 0.5rem; font-size: 1.1rem; line-height: 1.2rem"></i>
                <% } %>
                <span id="classMessage<%= i %>" class="alert alert-success font-weight-bold"
                      style="margin: auto 0 auto 0.75rem; width: fit-content; display:none; justify-content: center; padding: 0.1rem;">
                    <div style="display: none" class="sk-chase-mini">
                        <div class="sk-chase-dot mini"></div>
                        <div class="sk-chase-dot mini"></div>
                        <div class="sk-chase-dot mini"></div>
                        <div class="sk-chase-dot mini"></div>
                        <div class="sk-chase-dot mini"></div>
                        <div class="sk-chase-dot mini"></div>
                    </div>
                    <span class="messageTxt"></span>
                </span>
            </label>

            <span class="accordion collapse collapse-underline" id="accordionForms<%= i %>"
                  data-parent="#bigAccordionForms">
                <form id="classTypeForm<%= i %>" class="form-ajax form-weights form-signin" action="/updateclasstype"
                      method="post" style="display: flex; justify-content: right;">
                    <div>
                        <label>Class Type:</label>
                        <select oninput="ajaxPostWeightsDatabaseForm('<%= i %>',null,null,[],'#classMessage<%= i %>',true); $('#classTypeForm<%= i %>').submit()"
                                class="minimal" style="margin: 0; padding: 0 1.7rem 0 0.5rem"
                                id="classType<%= i %>">
                            <option value="" disabled hidden
                            <% if (classData[className].classType === "") { %> selected
                                    <% } %>
                            >
                                Not Selected
                            </option>
                            <option value="non-academic"
                            <% if (classData[className].classType === "non-academic") { %> selected
                                    <% } %>
                            >
                                Non-Academic
                            </option>
                            <option value="none"
                            <% if (classData[className].classType === "none") { %> selected
                                    <% } %>
                            >
                                None
                            </option>
                            <option value="ap"
                            <% if (classData[className].classType === "ap") { %> selected
                                    <% } %>
                            >
                                AP
                            </option>
                            <option value="honors"
                            <% if (classData[className].classType === "honors") { %> selected
                                    <% } %>
                            >
                                Honors
                            </option>
                        </select>
                    </div>
                </form>
                <div style="width: 100%"></div>
                <form id="ucClassType<%= i %>" class="form-ajax form-weights form-signin" action="/updateuccsuclasstype"
                      method="post" style="display: flex; justify-content: right;">
                    <div>
                        <label>UC Class Type:</label>
                        <select oninput="ajaxPostWeightsDatabaseForm('<%= i %>',null,null,[],'#classMessage<%= i %>',true,true); $('#ucClassType<%= i %>').submit()"
                                class="minimal" style="margin: 0; padding: 0 1.7rem 0 0.5rem"
                                id="ucClassType<%= i %>">
                            <option value=""
                            <% if (classData[className].uc_csuClassType === "") { %> selected
                                    <% } %>
                            >
                                Not UC Approved
                            </option>
                            <option value="uc"
                            <% if (classData[className].uc_csuClassType === "uc") { %> selected
                                    <% } %>
                            >
                                UC Approved
                            </option>
                            <option value="uc_ap"
                            <% if (classData[className].uc_csuClassType === "uc_ap") { %> selected
                                    <% } %>
                            >
                                UC Approved AP
                            </option>
                            <option value="uc_hon"
                            <% if (classData[className].classType === "uc_hon") { %> selected
                                    <% } %>
                            >
                                UC Approved Honors
                            </option>
                        </select>
                    </div>
                </form>
                <% for (let j = 0; j < Object.keys(classData[className]).length; j++) { %>
                    <% let teacherName = Object.keys(classData[className])[j]; %>
                    <% if (_.isObject(classData[className][teacherName]) && !Array.isArray(classData[className][teacherName])) { %>
                        <div class="break"></div>
                        <label class="accordion-label" data-toggle="collapse" href="#collapse<%= i %><%= j %>"
                               style="display: flex; margin: 0 0 0 2rem; cursor: pointer">
                            <h5 style="cursor: pointer" class="weightname" id="<%= teacherName %>">
                                <%= teacherName %>
                                <i style="text-indent: 0 !important;" class="fa" aria-hidden="true"></i>
                            </h5>

                            <span id="suggestionMessage<%= i %><%= j %>" class="alert alert-success font-weight-bold"
                                  style="margin: auto 0 auto 0.75rem; width: fit-content; display:none; justify-content: center; padding: 0.1rem;">
                                <div style="display: none" class="sk-chase-mini">
                                    <div class="sk-chase-dot mini"></div>
                                    <div class="sk-chase-dot mini"></div>
                                    <div class="sk-chase-dot mini"></div>
                                    <div class="sk-chase-dot mini"></div>
                                    <div class="sk-chase-dot mini"></div>
                                    <div class="sk-chase-dot mini"></div>
                                </div>
                                <span class="messageTxt"></span>
                            </span>
                        </label>
                        <div class="break"></div>
                        <span class="collapse collapse-underline show" id="collapse<%= i %><%= j %>"
                              data-parent="#accordionForms<%= i %>">
                            <!-- Loops through all suggestions + 1 for the actual weights -->
                            <% for (let z = -1; z < classData[className][teacherName]["suggestions"].length; z++ ) {
                                let weights;
                                let hasWeights;
                                let marginLeft;
                                if (z === -1) {
                                    weights = classData[className][teacherName]["weights"];
                                    hasWeights = classData[className][teacherName]["hasWeights"];
                                    marginLeft = 4;
                                } else {
                                    weights = classData[className][teacherName]["suggestions"][z]["weights"];
                                    hasWeights = classData[className][teacherName]["suggestions"][z]["hasWeights"];
                                    marginLeft = 6;
                                }
                            if (z === 0) { %>
                                <h5 id="suggestion-header<%= i %><%= j %>" style="margin: 0 0 0.5rem 4rem;">
                                    Suggestions:
                                </h5>
                            <% } %>
                            <form id="suggestion<%= i %><%= j %><%= z %>" class="form-ajax form-weights form-signin"
                                  action="/updateclassweights" method="post"
                                  style="margin: 0 0 0 <%= marginLeft %>rem; width: 100%">
                                <suggestionIndex style="display: none;"><%= z %></suggestionIndex>
                                <div>
                                    <% if (z == -1) { %>
                                        <span class="fa fa-plus disableable"
                                              onclick="addCategory(this,'<%= i %>','<%= j %>','<%= z %>')"
                                              style="display: inline-flex; cursor: pointer;color: green"></span>
                                    <% } %>
                                    <% for (let k = 0; k < Object.keys(weights).length; k++) {
                                        let name = Object.keys(weights)[k];
                                        let value = weights[name] %>

                                    <div class="form-group" id="category<%= i %><%= j %><%= z %><%= k %>"
                                         style="margin-bottom: 0.5rem; display:inline-flex; align-items: flex-end;">
                                        <input style="font-size: 0.9rem; margin-right: 0 !important; width: auto; white-space: nowrap; margin-bottom: 0;"
                                               value="<%= name %>"
                                               class="form-control text-view disableable"
                                               size="<%= Math.max(2, name.length + 1) %>"
                                        <% if (z == -1) { %>
                                               oninput="this.classList.remove('text-view'); showSubmitButton(this); resizeInput(this)"
                                                <% } %>
                                               required
                                        <% if (z != -1) { %> disabled
                                                <% } %>
                                        >
                                        :
                                        <input style="margin: 0;"
                                        <% if(!isNaN(value)) { %>
                                               value="<%= value %>"
                                                <% } %>
                                               type="number"
                                               min="0"
                                               step="0.01"
                                               class="form-control text-view disableable"
                                               name="<%= name %>"
                                        <% if (z == -1) { %>
                                               oninput="this.classList.remove('text-view'); showSubmitButton(this); "
                                                <% } %>
                                        <% if (z != -1) { %> disabled
                                                <% } %>
                                        >
                                        <% if (z == -1) { %>
                                            <span class="fa fa-minus disableable" onclick="removeCategory(this)"
                                                  style="text-indent: 1rem; color: red; cursor: pointer; margin-bottom: 2px"></span>
                                        <% } %>
                                    </div>
                                    <% } %>
                                </div>
                                <div class="break"></div>
                                <div class="form-group"
                                     style="margin-bottom: 0.5rem; display: flex; align-items: flex-end;">
                                    <label class="checkbox-label"
                                           style="font-size: 0.9rem; white-space: nowrap; margin-bottom: 0;">
                                        Point Based?
                                    </label>
                                    <input
                                            id="check<%= i %><%= j %><%= z %>"
                                            style="margin-top: auto; margin-bottom: auto!important;"
                                            type="checkbox"
                                            class="form-control"
                                            name="hasWeights"
                                    <% try { if (hasWeights == "false") { %>
                                            checked
                                            <% }} catch (e) {
                                            } %>
                                    <% if (z == -1) { %>
                                            onchange="showSubmitButton(this); disableInput('check<%= i %><%= j %><%= z %>','collapse<%= i %><%= j %><%= z %>');"
                                            <% } %>
                                    <% if (z != -1) { %> disabled
                                            <% } %>
                                    >
                                    <script>
                                        function disableInput(checkBoxID, id) {
                                            $("#" + id).find(".disableable").each(function () {
                                                if ($("#" + checkBoxID).is(":checked")) {
                                                    $(this).addClass("disabled");
                                                    $(this).attr("disabled", "disabled");
                                                } else {
                                                    $(this).removeClass("disabled");
                                                    $(this).removeAttr("disabled");
                                                }
                                            });
                                        }

                                        disableInput('check<%= i %><%= j %><%= z %>', 'collapse<%= i %><%= j %><%= z %>');
                                    </script>
                                </div>
                                <% if (z == -1) { %>
                                    <div class="formSubmitButton" style="width: 100%; display: none">
                                        <button type="submit" class="btn btn-default btn-med"
                                                onclick="ajaxPostWeightsDatabaseForm('<%= i %>','<%= j %>','<%= z %>',[],'#suggestionMessage<%= i %><%= j %>',true);">
                                            <i class="fa fa-refresh" aria-hidden="true"></i>
                                            Update
                                        </button>
                                    </div>
                                <% } else { %>
                                    <div class="formSubmitButton" style="width: 100%; display: block;">
                                        <button type="submit" class="btn btn-default btn-med approve_btn"
                                                onclick="ajaxPostWeightsDatabaseForm('<%= i %>','<%= j %>','<%= z %>',[],'#suggestionMessage<%= i %><%= j %>',true);">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            Approve
                                        </button>
                                        <i style="display:inline-block; vertical-align: middle; padding:.2rem .2rem; margin: 0 0 1rem;">
                                            <%= classData[className][teacherName]["suggestions"][z]["usernames"].length %>
                                            user(s)
                                        </i>
                                    </div>
                                <% } %>
                            </form>
                            <% } %>
                        </span>
                    <% } %>
                <% } %>
            </span>
            <hr>
        <% } %>
    </span>
</div>
</body>

<!-- Custom JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    let classes = <%- JSON.stringify(classData) %>;
    let term = "<%= term %>";
    let semester = "<%= semester %>";

    $("#termSwitcher").addClass("hover");
    setTimeout(() => $("#termSwitcher").removeClass("hover"), 2000);

    // TODO restructure! this is not good code
    function ajaxPostWeightsDatabaseForm(classIndex, teacherIndex, suggestionIndex, fieldIDsToClear, messagesDivID, async, isUCForm = false) {
        // Get the form.
        let formID;
        if (suggestionIndex) {
            formID = "#suggestion" + classIndex + teacherIndex + suggestionIndex;
        } else if (isUCForm) {
            formID = "#ucClassType" + classIndex;
        } else {
            formID = "#classTypeForm" + classIndex;
        }
        $(formID).submit(function (event) {
            event.preventDefault();
            event.stopImmediatePropagation();

            let formData;
            let message;
            let formMessagesDiv;

            // Serialize the form data.
            let className = Object.keys(classes)[classIndex];
            let teacherName = null;
            let weights = null;
            let hasWeights = null;
            if (teacherIndex) {
                teacherName = Object.keys(classes[className])[teacherIndex];
                //TODO actually collect has weights
                hasWeights = true;
                weights = {};
                let inputs = $(formID + " input");
                // console.log(inputs);
                for (let i = 0; i < inputs.length; i += 2) {
                    if (inputs[i].name == "hasWeights") {
                        hasWeights = inputs[i].checked ? false : true;
                    } else {
                        weights[$(inputs[i])[0].value] = $(inputs[i + 1])[0].valueAsNumber;
                    }
                }
                // console.log(weights);
                // console.log(hasWeights);
                formData = {
                    term: term, semester: semester, className: className, teacherName: teacherName, weights: weights, hasWeights: hasWeights
                };
            } else {
                let classType = $(formID).find("select")[0].value.trim();
                formData = {
                    term: term, semester: semester, className: className, classType: classType
                };
            }

            // Get the messages.
            formMessagesDiv = $(messagesDivID);
            message = $(formMessagesDiv).find(".messageTxt");
            $(message).text("");
            $(formMessagesDiv).removeClass("alert-success").removeClass("alert-danger").addClass("alert-info");
            $(formMessagesDiv).find(".sk-chase-mini").show().css("display", "inline-block");
            $(formMessagesDiv).show();

            // Submit the form using AJAX.
            $.ajax({
                       type: "POST", url: $(formID).attr("action"), data: formData, async: async
                   }).done(function (response) {
                if (typeof response === "string" && response.startsWith("<!")) {  // If logged out
                    $(".session-timeout").show();
                    $("body").find("*").not(".session-timeout").remove();
                    return;
                }
                // Make sure that the formMessages div has the alert-success class.
                $(formMessagesDiv).removeClass("alert-danger");
                $(formMessagesDiv).addClass("alert-success");

                // Set the message text.
                setTimeout(function () {
                    $(message).text(response.message);
                    $(formMessagesDiv).find(".sk-chase-mini").hide();
                    // Make sure that the formMessages div has the alert-success class.
                    $(formMessagesDiv).removeClass("alert-info");
                    $(formMessagesDiv).addClass("alert-success");
                }, 500);

                // Show the div.
                $(formMessagesDiv).css("display", "block");

                // Clear fields to clear
                for (let i = 0; i < fieldIDsToClear.length; i++) {
                    $(fieldIDsToClear[i]).val("");
                }

                //Fix Styling
                $(formID + " .form-group .form-control").css("border-color", "unset").addClass("text-view");

                //Update class weight for approved suggestions
                if (teacherIndex && parseInt($(formID).find("suggestionindex").html()) != -1) {
                    $("#suggestion" + classIndex + teacherIndex + "-1").find(".form-group").slice(0, -1).remove(); //Remove all categories
                    $("#check" + classIndex + teacherIndex + "-1").prop("checked", !hasWeights); //Update hasWeights
                    for (let i = 0; i < Object.keys(weights).length; i++) {
                        addCategory(document.createElement("dummy"), classIndex, teacherIndex, "-1");
                        $($("#category" + classIndex + teacherIndex + "-1" + i).find("input")[0]).val(Object.keys(weights)[i]); //Add Category names
                        $($("#category" + classIndex + teacherIndex + "-1" + i).find("input")[1]).val(Object.values(weights)[i]); //Add category weights
                    }
                    $("#suggestion" + classIndex + teacherIndex + "-1" + " .form-group .form-control").css("border-color", "unset").addClass("text-view");
                    $("#suggestion" + classIndex + teacherIndex + "-1" + " .formSubmitButton").hide();
                } else {
                    $(formID + " .formSubmitButton").hide();
                }

                //Remove suggestion
                if (response.suggestion != null) {
                    try {
                        $("#suggestion" + classIndex + teacherIndex + response.suggestion).remove();
                        //remove Suggestion header if no more suggestions
                        if ($("#collapse" + classIndex + teacherIndex).find("form").length <= 1) {
                            $("#suggestion-header" + classIndex + teacherIndex).remove();
                        }
                    } catch (error) {
                        console.error(error);
                    }
                }

            }).fail(function (response) {
                // Make sure that the formMessages div has the alert-danger class
                $(formMessagesDiv).removeClass("alert-success");
                $(formMessagesDiv).addClass("alert-danger");

                // Set the message text.
                if (response.message !== "") {
                    $(message).text(response.message);
                } else {
                    $(message).text("Oops! An error occurred and your message could not be sent.");
                }

                // Show the div.
                $(formMessagesDiv).css("display", "block");

                // Hide loading
                $(formMessagesDiv).find(".sk-chase-mini").hide();
            }).always(function () {
                setTimeout(function () {
                    $(formMessagesDiv).find(".sk-chase-mini").hide();
                }, 500);
            });
        });
    }

    function showSubmitButton(element) {
        $(element).parents("form").find(".formSubmitButton").show();
        $(element).parents("form").find(".alert").removeClass("alert-success").addClass("alert-danger").show().find(".messageTxt").text("Changes not Saved!");
    }

    function addCategory(element, classIndex, teacherIndex, suggestionIndex) {
        if (!(element).hasAttribute("disabled")) {
            let classDiv = "#suggestion" + classIndex + teacherIndex + suggestionIndex;
            let newCategory = $("<div class=\"form-group\" id=\"category" + classIndex + teacherIndex + suggestionIndex + ($($(classDiv)[0].children)[1].children.length - 1) + "\"" + "style=\"text-indent: 3rem; display: inline-flex;" + "align-items: flex-end;" + ($($(classDiv)[0].children)[1].children.length > 1 ? "margin-left: " + ($($($(classDiv)[0].children)[1].children)[1].offsetLeft - $(classDiv)[0].offsetLeft) + "px" : "") + "\">" + "<input size=\"2\" style=\"font-size: 0.9rem; margin-right: 0 !important; width: fit-content; white-space: nowrap; margin-bottom: 0;\"" + "class=\" disableable form-control\"" + "oninput=\"this.classList.remove('text-view'); showSubmitButton(this); resizeInput(this);\"" + "required" + ">" + ":&nbsp;</input>" + "<input style=\"margin: 0; border-color: lightcoral!important;\"" + "type=\"number\"" + "min=\"0\"" + "step=\"0.1\"" + "class=\"form-control disableable\"" + "oninput=\"this.classList.remove('text-view'); showSubmitButton(this); \">" + "<span class=\"fa fa-minus disableable\" onclick=\"removeCategory(this)\"" + "style=\"text-indent: 1rem; color: red; cursor: pointer;\"></span>" + "</div>");
            $($($(classDiv)[0].children)[1]).append(newCategory);
            showSubmitButton($(classDiv));
        }
    }

    function removeCategory(element) {
        if (!(element).hasAttribute("disabled")) {
            let categoryDiv = $(element).parents(".form-group");
            let classDiv = $(categoryDiv.parents(".collapse")[0]);
            categoryDiv.remove();
            showSubmitButton($(classDiv));
        }
    }

    function resizeInput(element) {
        let size = Math.max(2, $(element).val().length + 1);
        $(element).attr("size", size);
    }

    let appearance = <%- appearance; %>;
    let checkingTheme;
    let theme = appearance.theme;
    let darkModeStart = appearance.darkModeStart;
    let darkModeFinish = appearance.darkModeFinish;
    let sunrise = <%= sunrise.getTime() %>;
    let sunset = <%= sunset.getTime() %>;

    if (theme === "auto" || theme === "sun") {
        checkTime();
    }

    function setAutoTheme() {
        let zeroTime = new Date(0);
        zeroTime.setHours(new Date().getHours());
        zeroTime.setMinutes(new Date().getMinutes());
        zeroTime = zeroTime.getTime();
        if (theme !== "auto" && theme !== "sun" && theme !== "system") {
            if (checkingTheme) {
                clearInterval(checkingTheme);
            }
            return;
        }

        if ((theme === "system" && window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches) || (theme === "sun" && (zeroTime >= sunset || zeroTime <= sunrise)) || (theme === "auto" && (((darkModeStart < darkModeFinish) && ((zeroTime >= darkModeStart) && (zeroTime < darkModeFinish)) || ((darkModeStart > darkModeFinish) && ((zeroTime >= darkModeStart) || (zeroTime < darkModeFinish))))))) {
            let oldDarkMode = document.getElementById("pageStyle").getAttribute("href") === "../../public/css/dark_mode.css";
            darkMode = true;
            if (darkMode !== oldDarkMode) {
                document.getElementById("fade").disabled = false;
                document.getElementById("pageStyle").setAttribute("href", "../../public/css/dark_mode.css");
                if (appearance.blurEffects) {
                    document.getElementById("blur_overrides").setAttribute("href", "../../public/css/dark_blur.css");
                }
                $(".navbar-brand img").attr("src", "/public/resources/dark_mode/logo.png");
                $(".navbar").removeClass("navbar-light").addClass("navbar-dark");
                setTimeout(() => {
                    document.getElementById("fade").disabled = true;
                }, 500);
                if (appearance.holidayEffects) {
                    init = performance.now();
                    if (darkMode === false) {
                        $("#light_snowfall").attr("media", "");
                    } else if (darkMode) {
                        $("#light_snowfall").attr("media", "not all");
                    }
                }
            }
        } else {
            let oldDarkMode = document.getElementById("pageStyle").getAttribute("href") === "../../public/css/dark_mode.css";
            darkMode = false;
            if (darkMode !== oldDarkMode) {
                document.getElementById("fade").disabled = false;
                document.getElementById("pageStyle").setAttribute("href", "../../public/css/light_mode.css");
                if (appearance.blurEffects) {
                    document.getElementById("blur_overrides").setAttribute("href", "../../public/css/light_blur.css");
                }
                $(".navbar-brand img").attr("src", "/public/resources/light_mode/logo.png");
                $(".navbar").removeClass("navbar-dark").addClass("navbar-light");
                setTimeout(() => {
                    document.getElementById("fade").disabled = true;
                }, 500);
                if (appearance.holidayEffects) {
                    init = performance.now();
                    if (darkMode === false) {
                        $("#light_snowfall").attr("media", "");
                    } else if (darkMode) {
                        $("#light_snowfall").attr("media", "not all");
                    }
                }
            }
        }
    }

    async function checkTime() {
        if (checkingTheme) {
            clearInterval(checkingTheme);
        }
        setAutoTheme();
        checkingTheme = window.setInterval(function () {
            setAutoTheme();
        }, 100);
    }
</script>
</html>
