<!doctype html>
<html>
<head>
    <title>Graderoom</title>
    <link rel="icon" href="../public/resources/common/icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap">
    <% if (user.appearance.theme === "dark" || (user.appearance.theme === "auto" && (((user.appearance.darkModeStart < user.appearance.darkModeFinish) && ((((Date.now() / 1000 / 3600 - 8) % 24) >= user.appearance.darkModeStart - (Math.max(new Date(new Date(Date.now()).getFullYear(), 0, 1).getTimezoneOffset(), new Date(new Date(Date.now()).getFullYear(), 6, 1).getTimezoneOffset()) !== new Date(Date.now()).getTimezoneOffset() ? (user.appearance.darkModeStart === 0 ? -23 : 1) : 0)) && ((Date.now() / 1000 / 3600 - 8) % 24) < user.appearance.darkModeFinish - (Math.max(new Date(new Date(Date.now()).getFullYear(), 0, 1).getTimezoneOffset(), new Date(new Date(Date.now()).getFullYear(), 6, 1).getTimezoneOffset()) !== new Date(Date.now()).getTimezoneOffset() ? (user.appearance.darkModeFinish === 1 ? -23 : 1) : 0))) || ((user.appearance.darkModeStart > user.appearance.darkModeFinish) && ((((Date.now() / 1000 / 3600 - 8) % 24) >= user.appearance.darkModeStart - (Math.max(new Date(new Date(Date.now()).getFullYear(), 0, 1).getTimezoneOffset(), new Date(new Date(Date.now()).getFullYear(), 6, 1).getTimezoneOffset()) !== new Date(Date.now()).getTimezoneOffset() ? (user.appearance.darkModeStart === 0 ? -23 : 1) : 0)) || ((Date.now() / 1000 / 3600 - 8) % 24) < user.appearance.darkModeFinish - (Math.max(new Date(new Date(Date.now()).getFullYear(), 0, 1).getTimezoneOffset(), new Date(new Date(Date.now()).getFullYear(), 6, 1).getTimezoneOffset()) !== new Date(Date.now()).getTimezoneOffset() ? (user.appearance.darkModeFinish === 1 ? -23 : 1) : 0)))))) { %>
        <link id="pageStyle" rel="stylesheet" type="text/css" href="public/css/dark_mode.css">
    <% } else { %>
        <link id="pageStyle" rel="stylesheet" type="text/css" href="public/css/light_mode.css">
    <% } %>
    <link rel="stylesheet" type="text/css" href="public/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<!-- Admin Navbar -->
<% include partials/admin/admin_navbar.ejs %>

<!-- Main Screen -->
<div class="container">
    <!-- Messages -->
    <% if (adminSuccessMessage.length > 0) { %>
        <br>
        <div class="alert alert-danger alert-dismissible">
            <a class="close" data-dismiss="alert" aria-label="close">X</a>
            <%= adminSuccessMessage %>
        </div>
    <% } else if (adminFailMessage.length > 0) { %>
        <br>
        <div class="alert alert-success alert-dismissible">
            <a class="close" data-dismiss="alert" aria-label="close">X</a>
            <%= adminFailMessage %>
        </div>
    <% } else { %>
        <br>
    <% } %>

    <form action="/bringAllUpToDate" method="post">
        <button class="btn btn-sm" type="submit">
            Bring All Users Up To Date
        </button>
    </form>
    <div id="table-container">
        <hr>
        <table class="table" style="width: 100% !important;">
            <thead>
                <tr>
                    <th class="admin">Username</th>
                    <th class="admin">Name</th>
                    <th class="admin">Last Updated</th>
                    <th class="admin">Attributes</th>
                    <th class="admin">Render User Site</th>
                    <th class="admin">Delete User</th>
                    <th class="admin">Change Admin Privileges</th>
                </tr>
            </thead>

            <% for (let u of userList) { %>
                <tr>
                    <td class="admin"><%= u.username %> </td>
                    <td class="admin"><%= u.schoolUsername.substring(0, 1).toUpperCase() + u.schoolUsername.substring(1, u.schoolUsername.indexOf('.')) + ' ' + u.schoolUsername.substring(u.schoolUsername.indexOf('.') + 1, u.schoolUsername.indexOf('.') + 2).toUpperCase() + u.schoolUsername.substring(u.schoolUsername.indexOf('.') + 2, u.schoolUsername.indexOf('@') - 2) %></td>
                    <td class="admin">
                        <% if (new Date(u.alerts.lastUpdated).toLocaleString("en-US", {timeZone: "America/Los_Angeles"}) === "Invalid Date") { %>
                            Never Updated
                        <% } else { %>
                            <%= new Date(u.alerts.lastUpdated).toLocaleString("en-US", {timeZone: "America/Los_Angeles"}) %>
                        <% } %>
                    </td>
                    <td class="admin">
                        <% if (Object.keys(u).includes("schoolPassword")) { %> GradeSync<br>
                        <% } %>
                        <% if (u.isAdmin) { %> Admin<br>
                        <% } %>
                        <% if (new Date(u.alerts.termsLastSeen).toLocaleString("en-US", {timeZone: "America/Los_Angeles"}) === "Invalid Date") { %>
                            Terms not Seen<br>
                        <% } %>
                        <% if (new Date(u.alerts.policyLastSeen).toLocaleString("en-US", {timeZone: "America/Los_Angeles"}) === "Invalid Date") { %>
                            Policy not Seen<br>
                        <% } %>
                    </td>
                    <td class="admin">
                        <% if (u.alerts.remoteAccess === "allowed") { %>
                            <form action="/viewuser" method="get" style="display: inline-block;">
                                <button type="submit" name="usernameToRender" class="btn btn-sm admin"
                                        value="<%= u.username %>">
                                    Render User Site
                                </button>
                            </form>
                        <% } else { %>
                            Remote Access Denied
                        <% } %>
                    </td>
                    <td class="admin">
                        <% if (!u.isAdmin) { %>
                            <form action="/deleteuser" method="post">
                                <button type="submit" name="deleteUser" class="btn btn-sm admin"
                                        value="<%= u.username %>">Delete User
                                </button>
                            </form>
                        <% } else { %>
                            Cannot Delete Admin
                        <% } %>
                    </td>

                    <td class="admin">
                        <% if (u != user) { %>
                            <% if (u.isAdmin) { %>
                                <form action="/removeadmin" method="post">
                                    <button type="submit" name="removeAdminUser" class="btn btm-sm admin"
                                            value="<%= u.username %>">Remove Admin Privileges
                                    </button>
                                </form>
                            <% } else { %>
                                <form action="/makeadmin" method="post">
                                    <button type="submit" name="newAdminUser" class="btn btn-sm admin"
                                            value="<%= u.username %>">Make User Admin
                                    </button>
                                </form>
                            <% } %>
                        <% } else { %>
                            Cannot Remove Admin Privileges
                        <% } %>
                    </td>
                </tr>
            <% } %>
        </table>
    </div>
</div>
</body>
</html>
