<!doctype html>
<html>
<head>
    <title>Graderoom</title>
    <link rel="icon" href="../public/resources/common/icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap">
    <% if (user.appearance.darkMode) { %>
        <link rel="stylesheet" type="text/css" href="public/css/dark_mode.css">
    <% } else { %>
        <link rel="stylesheet" type="text/css" href="public/css/light_mode.css">
    <% } %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<!-- Admin Navbar -->
<% include partials/admin/admin_navbar.ejs %>

<!-- Main Screen -->
<div class="container">
    <!-- Messages -->
    <% if (adminSuccessMessage.length > 0) { %>
        <br>
        <div class="alert alert-danger alert-dismissible">
            <a class="close" data-dismiss="alert" aria-label="close">X</a>
            <%= adminSuccessMessage %>
        </div>
    <% } else if (adminFailMessage.length > 0) { %>
        <br>
        <div class="alert alert-success alert-dismissible">
            <a class="close" data-dismiss="alert" aria-label="close">X</a>
            <%= adminFailMessage %>
        </div>
    <% } else { %>
        <br>
    <% } %>

    <span id="table-container">
            <hr>
            <table class="table">
                <thead>
                <tr>
                    <th style="width:17%;">Username</th>
                    <th style="width:15%;">School Email</th>
                    <th style="width:15%;">Last Updated</th>
                    <th style="width:15%;">Is Admin?</th>
                    <th style="width:15%;">Render User Site</th>
                    <th style="width:15%;">Delete User</th>
                    <th style="width:15%;">Change Admin Privileges</th>
                </tr>
                </thead>

                <% for (let u of userList) { %>
                    <tr>
                        <td><%= u.username %> </td>
                        <td><%= u.schoolUsername %></td>
                        <% let lastUpdated = new Date(u.alerts.lastUpdated); %>
                        <td><%= lastUpdated.toLocaleString("en-US", {timeZone: "America/Los_Angeles"}) %></td>
                        <td><%= u.isAdmin %> </td>
                        <td>
                            <form action="/viewuser" method="get">
                                <button type="submit" name="usernameToRender" class="btn btn-sm"
                                        value="<%= u.username %>">
                                    Render User Site
                                </button>
                            </form>
                        </td>
                        <td>
                            <% if (!u.isAdmin) { %>
                                <form action="/deleteuser" method="post">
                                    <button type="submit" name="deleteUser" class="btn btn-sm"
                                            value="<%= u.username %>">Delete User</button>
                                </form>
                            <% } else { %>
                                Cannot Delete Admin
                            <% } %>
                        </td>

                        <td>
                            <% if (u != user) { %>
                                <% if (u.isAdmin) { %>
                                    <form action="/removeadmin" method="post">
                                        <button type="submit" name="removeAdminUser" class="btn btm-sm"
                                                value="<%= u.username %>">Remove Admin Privileges</button>
                                    </form>
                                <% } else { %>
                                    <form action="/makeadmin" method="post">
                                        <button type="submit" name="newAdminUser" class="btn btn-sm"
                                                value="<%= u.username %>">Make User Admin</button>
                                    </form>
                                <% } %>
                            <% } else { %>
                                Cannot Remove Admin Privileges
                            <% } %>
                        </td>
                    </tr>
                <% } %>
            </table>
        </span>
</div>
</body>
</html>
