<!doctype html>
<html>
<head>
    <title>Graderoom</title>
    <link rel="icon" href="../public/resources/icon.png">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <style>
        body {
            padding: 10px;
            background-color: #222222;
        }
        .nav-item {
            padding-left: 0.5em;
            padding-right: 0.5em;
        }
        .nav-link {
            background-color: #333333;
            color: white;
        }   

    </style>
</head>
<body>
    <a href="/logout" class="btn btn-warning btn-sm">Logout</a>
    <br>
    <% if (updateGradesMessageSuccess.length > 0) { %>
        <div class="alert alert-danger"><%= updateGradesMessageSuccess %></div>
    <% } %>

    <% if (updateGradesMessageFail.length > 0) { %>
        <div class="alert alert-danger"><%= updateGradesMessageFail %></div>
    <% } %>
    <div class="container">

        <div class="jumbotron text-center" style="background-color: #222222; color: white;">
            <h1><span class="fa fa-graduation-cap"></span> Graderoom: <%=user.username%></h1>
            <form action="/update" method="post">
                <button type="submit" class="btn btn-info btn-lg">Update Grades</button>
            </form>
        </div>

        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a class="nav-link" onclick="showPage(-1)">Overview</a>
            </li>
            <% for (let i = 0; i<JSON.parse(gradeData).length; i++) { %>
                <li class="nav-item">
                    <a class="nav-link" onclick="showPage(<%=i%>)"><%=(JSON.parse(gradeData)[i].class_name)%></a>
                </li>
            <% } %>
        </ul>
        
        <br> <br>

        <div id="Chart-1" style="width: 50%; margin: auto"></div>
        <% for (let i = 0; i<JSON.parse(gradeData).length; i++) { %>
            <div id="Chart<%=i%>" style="width: 50%; margin: auto;"></div>
        <% } %>
        

        <script>
            function showPage(id)
            {   
                let data = <%- gradeData %>;
                for (let i = -1; i<data.length; i++)
                {
                    document.getElementById("Chart" + i).style.display = "none";
                }
                document.getElementById("Chart" + id).style.display = "block";
                if (id>=0)
                {
                    
                    // console.log (data.length)    
                    let assignmentGrades = data[id].grades.map(x => x.grade_percent)
                    let assignmentNames = data[id].grades.map(x => x.assignment_name)
                    var options = {
                        chart: {
                            type: 'line'
                        },
                        series: [{
                            name: data[id].class_name,
                            data: assignmentGrades
                        }],
                        xaxis: {
                            categories: assignmentNames,
                            labels: {
                                rotate: -45,
                                rotateAlways: true,
                                style: {
                                    colors: '#FFFFFF',
                                },
                            }
                        },
                        yaxis: {
                            labels: {
                                fillColor: '#c2c2c2',
                                style: {
                                    colors: '#FFFFFF',
                                },
                            }
                        }
                    }
                    var chart = new ApexCharts(document.querySelector("#Chart"+id), options);
                    chart.render();
                }
            }
        </script>

    </div>
</body>
</html>
