<!doctype html>
<html>
<head>
    <title>Graderoom</title>
    <link rel="icon" href="../public/resources/icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap">
    <link rel="stylesheet" href="public/css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>
<body>

    <script type="text/javascript">
        function showDiv(id) {document.getElementById(id).style.display = "block";}
        function hideDiv(id) {document.getElementById(id).style.display = "none"}
    </script>

    <div class="container">

        <div class="blurred-login" id="toggle" style="position:fixed; display:none; height: 100%; width: 100%; top: 0; left: 0; z-index: 1">
            <div class="blurred-background" style="position: fixed; background-image: url(/public/resources/blur.png); width: 100%; height: 100%; filter: opacity(0.9);"></div>
            <div class="col-sm-7 col-md-7 col-lg-7 mx-auto" style="top: 50%; left: 50%; transform: translate(-50%,-50%)">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h1 class="card-title text-center">Enter the password for</h1>
                        <h5 class="text-center"><%=schoolUsername%></h5>
                        <br>
                        <form class="form-signin" action="/update" method="post">

                            <div class="form-group">
                                <input name="school_password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                            </div>
                            <br>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" style="margin: auto" onclick="hideDiv('toggle')">Sign In</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <a href="/logout" class="btn btn-warning btn-sm">Logout</a>
    <a href="/settings" class="btn btn-info btn-sm">Settings</a>
    <br>
    <% if (updateGradesMessageSuccess.length > 0) { %>
        <div class="alert alert-danger"><%= updateGradesMessageSuccess %></div>
    <% } %>

    <% if (updateGradesMessageFail.length > 0) { %>
        <div class="alert alert-danger"><%= updateGradesMessageFail %></div>
    <% } %>

    <div class="container">

        <div class="jumbotron text-center" style="background-color: #222222; color: white;">
            <h1><span class="fa fa-graduation-cap"></span> Graderoom: <%=user.username%></h1>
            <button type="submit" class="btn btn-info btn-lg" onclick="showDiv('toggle')">Update Grades</button>
        </div>

        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a class="nav-link" onclick="showPage(-1)">Overview</a>
            </li>
            <% for (let i = 0; i<JSON.parse(gradeData).length; i++) { %>
                <li class="nav-item">
                    <a class="nav-link" onclick="showPage(<%=i%>)"><%=(JSON.parse(gradeData)[i].class_name)%></a>
                </li>
            <% } %>
        </ul>
        
        <br> <br>

        <div id="Chart-1" style="width: 50%; margin: auto"></div>
        <% for (let i = 0; i<JSON.parse(gradeData).length; i++) { %>
            <div id="Chart<%=i%>" style="width: 50%; margin: auto;"></div>
        <% } %>
        

        <script>
            function showPage(id)
            {   
                let data = <%- gradeData %>;
                for (let i = -1; i<data.length; i++)
                {
                    document.getElementById("Chart" + i).style.display = "none";
                }
                document.getElementById("Chart" + id).style.display = "block";
                if (id>=0)
                {
                    let ass_grades = data[id].grades.map(x => x.grade_percent)
                    // let assignmentNames = data[id].grades.map(x => x.assignment_name)
                    let ass_timestamps = data[id].grades.map(x => new Date(x.date).getTime())
                    var options = {
                        chart: {
                            type: 'line'
                        },
                        series: [{
                            name: data[id].class_name,
                            data: ass_grades
                        }],
                        xaxis: {
                            // categories: assignmentNames,
                            type: 'datetime',
                            categories: ass_timestamps,    
                            labels: {
                                rotate: -45,
                                rotateAlways: true,
                                datetimeFormatter: {
                                    year: 'yyyy',
                                    month: 'MMM \'yy',
                                    day: 'dd MMM',
                                    hour: 'HH:mm'
                                },
                                style: {
                                    colors: '#FFFFFF',
                                },
                            }
                        },
                        yaxis: {
                            labels: {
                                style: {
                                    color: '#FFFFFF',
                                },
                            }
                        }
                    }
                    var chart = new ApexCharts(document.querySelector("#Chart"+id), options);
                    chart.render();
                }
            }
        </script>

    </div>
</body>
</html>
