<!doctype html>
<html>
<head>
    <title>Graderoom</title>
    <link rel="icon" href="../public/resources/icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap">
    <link rel="stylesheet" href="public/css/main.css">
</head>
<body>

    <script type="text/javascript">
        function showDiv(id) {document.getElementById(id).style.display = "block";}
        function hideDiv(id) {document.getElementById(id).style.display = "none"}
    </script>

    <!-- Update Grade Card -->
    <div class="container">
        <div class="blurred-login" id="toggle" style="position:fixed; display:none; height: 100%; width: 100%; top: 0; left: 0; z-index: 1">
            <div class="blurred-background" style="position: fixed; background-image: url(/public/resources/blur.png); width: 100%; height: 100%; filter: opacity(0.9);"></div>
            <div class="col-sm-7 col-md-7 col-lg-7 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h1 class="card-title text-center">Enter the password for</h1>
                        <h5 class="text-center"><%=schoolUsername%></h5>
                        <br>
                        <form class="form-signin" action="/update" method="post">

                            <div class="form-group">
                                <input name="school_password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                            </div>
                            <br>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" style="margin: auto" onclick="hideDiv('toggle')">Sign In</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Nav Bar -->    
    <nav class="navbar navbar-dark navbar-expand-lg justify-content-center">
        <span class="d-flex w-50 mr-auto">
            <a href="/" class="navbar-brand" >            
                <h1> <img src="/public/resources/logo.png" style="width: 3rem" class="d-inline-block" alt=""> Graderoom </h1>
            </a>
        </span>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#collapsingNav" aria-controls="collapsingNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100" id="collapsingNav">
            <ul class="navbar-nav w-100 justify-content-center">
                <li class="nav-item">
                    <h5 class=""><%=user.username%></h5>
                </li>
            </ul>
            <ul class="navbar-nav w-100 justify-content-end">
                <li class="nav-item">
                    <button type="submit" class="btn btn-med" onclick="showDiv('toggle')">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                        Update Grades
                    </button>
                </li>
                <li class="nav-item">
                    <a href="/settings" class="btn btn-med">
                        <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
                        Settings
                    </a>
                </li>
                <li class="nav-item active">
                    <a href="/logout" class="btn btn-med">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <br><br>
    <!-- Messages-->
    <% if (updateGradesMessageSuccess.length > 0) { %>
        <div class="alert alert-danger"><%= updateGradesMessageSuccess %></div>
    <% } %>

    <% if (updateGradesMessageFail.length > 0) { %>
        <div class="alert alert-danger"><%= updateGradesMessageFail %></div>
    <% } %>

    <!-- Main Screen -->
    <div class="container">

        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a class="nav-link" onclick="showPage(-1)">Overview</a>
            </li>
            <% for (let i = 0; i<JSON.parse(gradeData).length; i++) { %>
                <li class="nav-item">
                    <a class="nav-link" onclick="showPage(<%=i%>)"><%=(JSON.parse(gradeData)[i].class_name)%></a>
                </li>
            <% } %>
        </ul>
        
        <br> <br>

        <div id="Chart-1" style="width: 50%; margin: auto"></div>
        <% for (let i = 0; i<JSON.parse(gradeData).length; i++) { %>
            <div id="Chart<%=i%>" style="width: 50%; margin: auto; color: black;"></div>
        <% } %>
        
        <!-- JavaScript Imports -->
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

        <!-- Custom JavaScript -->
        <script>         
            // Collapse navbar when click outside
            $(document).click(function (e) {
                console.log("touch");
                if (!$(e.target).closest('#collapsingNav').length && !$(e.target).is('#collapsingNav')){
                    $('.navbar-collapse').collapse('hide');
                }
            });
            // Collapse navbar when press escape
            $(document).keyup(function (e) {
                if (e.key === "Escape") { // escape key maps to keycode `27`
                    $('.navbar-collapse').collapse('hide');
                }
            });

            let data = <%- gradeData %>;
            function renderChart(id)
            {
                let ass_grades = data[id].grades.map(x => x.grade_percent)
                // let assignmentNames = data[id].grades.map(x => x.assignment_name)
                let ass_timestamps = data[id].grades.map(x => new Date(x.date).getTime())
                var options = {
                    chart: {
                        type: 'line',
                        toolbar: {
                            show: false
                        }
                    },
                    series: [{
                        name: data[id].class_name,
                        data: ass_grades
                    }],
                    xaxis: {
                        // categories: assignmentNames,
                        type: 'datetime',
                        categories: ass_timestamps,    
                        labels: {
                            format: 'MMM dd',
                            style: {
                                colors: '#FFFFFF',
                            },
                        }
                    },
                    yaxis: {
                        labels: {
                            style: {
                                color: '#FFFFFF',
                            },
                        }
                    }
                }
                var chart = new ApexCharts(document.querySelector("#Chart"+id), options);
                chart.render();
            }
            for (let i = 0; i<data.length; i++)
            {
                renderChart(i)
            }
            function showPage(id)
            {   
                if (id===-1)
                {
                    for (let i = -1; i < data.length; i++) {
                        document.getElementById("Chart" + i).style.display = "block";
                    }
                } else {
                    for (let i = -1; i < data.length; i++) {
                        document.getElementById("Chart" + i).style.display = "none";
                    }
                    document.getElementById("Chart" + id).style.display = "block";
                } 
            }
        </script>

    </div>
</body>
</html>
