<!doctype html>
<html>
<head>
    <title>Graderoom</title>
    <link rel="icon" href="public/resources/common/icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap">
    <% let theme; %>
    <% if (user.appearance.theme === "dark") { %>
        <% theme = true; %>
        <link id="pageStyle" rel="stylesheet" type="text/css" href="public/css/dark_mode.css">
    <% } else if (user.appearance.theme === "light") { %>
        <% theme = false; %>
        <link id="pageStyle" rel="stylesheet" type="text/css" href="public/css/light_mode.css">
    <% } else if ((((user.appearance.darkModeStart < user.appearance.darkModeFinish) && ((((Date.now() / 1000 / 3600 - 8) % 24) >= user.appearance.darkModeStart - (dst ? (user.appearance.darkModeStart === 0 ? -23 : 1) : 0)) && ((Date.now() / 1000 / 3600 - 8) % 24) < user.appearance.darkModeFinish - (dst ? (user.appearance.darkModeFinish === 1 ? -23 : 1) : 0))) || ((user.appearance.darkModeStart > user.appearance.darkModeFinish) && ((((Date.now() / 1000 / 3600 - 8) % 24) >= user.appearance.darkModeStart - (dst ? (user.appearance.darkModeStart === 0 ? -23 : 1) : 0)) || ((Date.now() / 1000 / 3600 - 8) % 24) < user.appearance.darkModeFinish - (dst ? (user.appearance.darkModeFinish === 1 ? -23 : 1) : 0))))) { %>
        <% theme = true; %>
        <link id="pageStyle" rel="stylesheet" type="text/css" href="public/css/dark_mode.css">
    <% } else { %>
        <% theme = false; %>
        <link id="pageStyle" rel="stylesheet" type="text/css" href="public/css/light_mode.css">
    <% } %>
    <link rel="stylesheet" type="text/css" href="public/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<!-- Admin Navbar -->
<% include partials/admin/admin_navbar.ejs %>

<!-- Main Screen -->
<div class="container">
    <!-- Messages -->
    <% if (betaKeySuccessMessage.length > 0) { %>
        <br>
        <div class="alert alert-danger alert-dismissible">
            <a class="close" data-dismiss="alert" aria-label="close">X</a>
            <%= betaKeySuccessMessage %>
        </div>
    <% } else if (betaKeyFailMessage.length > 0) { %>
        <br>
        <div class="alert alert-success alert-dismissible">
            <a class="close" data-dismiss="alert" aria-label="close">X</a>
            <%= betaKeyFailMessage %>
        </div>
    <% } else { %>
        <br>
    <% } %>

    <span id="table-container">
            <table class="table rounded-table">
                <thead>
                <tr>
                    <th style="width:30%;">Key</th>
                    <th style="width:20%;">Claimed</th>
                    <th style="width:20%;">Claimed By</th>
                    <th style="width:20%;">Delete</th>

                </tr>
                </thead>

                <% for (let k of betaKeyData) { %>
                    <tr>
                        <td><%= k.betaKey %> </td>
                        <td><%= k.claimed %></td>
                        <td><%= k.claimedBy %> </td>

                        <% if (k.claimed === false){ %>

                            <td>
                            <form action="/deletebetakey" method="post">
                                    <button type="submit" name="beta_key" class="btn btn-sm" value="<%= k.betaKey %>">Delete Key</button>
                            </form>
                        </td>

                        <% } else { %>

                            <td>Already claimed!</td>
                        <% } %>

                    </tr>
                <% } %>
            </table>
        </span>

    <div class="text-center">
        <form action="/newbetakey" method="post">
            <button type="submit" class="btn btn-sm">Create new random Beta Key</button>
        </form>
    </div>
</div>
<script>
    function isDST() {
        return Math.max(new Date(new Date(Date.now()).getFullYear(), 0, 1).getTimezoneOffset(), new Date(new Date(Date.now()).getFullYear(), 6, 1).getTimezoneOffset()) !== new Date(Date.now()).getTimezoneOffset();
    }

    let checkingTheme;
    let theme = <%- theme %>;
    let darkModeStart = <%- darkModeStart %>;
    let darkModeFinish = <%- darkModeFinish %>;

    function setAutoTheme() {
        if (theme !== "auto") {
            clearInterval(checkingTheme);
            return;
        }
        darkModeStart = parseInt(darkModeStart);
        darkModeFinish = parseInt(darkModeFinish);
        if (theme === "dark" || (theme === "auto" && (((darkModeStart < darkModeFinish) && ((((Date.now() / 1000 / 3600 - 8) % 24) >= darkModeStart - (isDST() ? (darkModeStart === 0 ? -23 : 1) : 0)) && ((Date.now() / 1000 / 3600 - 8) % 24) < darkModeFinish - (isDST() ? (darkModeFinish === 1 ? -23 : 1) : 0))) || ((darkModeStart > darkModeFinish) && ((((Date.now() / 1000 / 3600 - 8) % 24) >= darkModeStart - (isDST() ? (darkModeStart === 0 ? -23 : 1) : 0)) || ((Date.now() / 1000 / 3600 - 8) % 24) < darkModeFinish - (isDST() ? (darkModeFinish === 1 ? -23 : 1) : 0)))))) {
            let oldDarkMode = document.getElementById("pageStyle").getAttribute("href") === "public/css/dark_mode.css";
            darkMode = true;
            if (darkMode !== oldDarkMode) {
                clearTimeout(changeTransition);
                document.getElementById("fade").disabled = false;
                $(".navbar-brand img").attr("src","/public/resources/dark_mode/logo.png");
                document.getElementById("pageStyle").setAttribute("href", "public/css/dark_mode.css");
                setTimeout(() => {
                    document.getElementById("fade").disabled = true;
                }, 1000);
            }
        } else {
            let oldDarkMode = document.getElementById("pageStyle").getAttribute("href") === "public/css/dark_mode.css";
            darkMode = false;
            if (darkMode !== oldDarkMode) {
                clearTimeout(changeTransition);
                document.getElementById("fade").disabled = false;
                $(".navbar-brand img").attr("src","/public/resources/light_mode/logo.png");
                document.getElementById("pageStyle").setAttribute("href", "public/css/light_mode.css");
                setTimeout(() => {
                    document.getElementById("fade").disabled = true;
                }, 1000);
            }
        }
    }

    async function checkTime() {
        clearInterval(checkingTheme);
        setAutoTheme();
        checkingTheme = window.setInterval(function () {
            setAutoTheme();
        }, 100);
    }
</script>
</body>
</html>
