<!doctype html>
<html>
<head>
    <title>Graderoom</title>
    <link rel="icon" href="../public/resources/common/icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap">
    <% if (user.appearance.theme === "dark" || (user.appearance.theme === "auto" && (((user.appearance.darkModeStart < user.appearance.darkModeFinish) && ((((Date.now() / 1000 / 3600 - 8) % 24) >= user.appearance.darkModeStart - (Math.max(new Date(new Date(Date.now()).getFullYear(), 0, 1).getTimezoneOffset(), new Date(new Date(Date.now()).getFullYear(), 6, 1).getTimezoneOffset()) !== new Date(Date.now()).getTimezoneOffset() ? (user.appearance.darkModeStart === 0 ? -23 : 1) : 0)) && ((Date.now() / 1000 / 3600 - 8) % 24) < user.appearance.darkModeFinish - (Math.max(new Date(new Date(Date.now()).getFullYear(), 0, 1).getTimezoneOffset(), new Date(new Date(Date.now()).getFullYear(), 6, 1).getTimezoneOffset()) !== new Date(Date.now()).getTimezoneOffset() ? (user.appearance.darkModeFinish === 1 ? -23 : 1) : 0))) || ((user.appearance.darkModeStart > user.appearance.darkModeFinish) && ((((Date.now() / 1000 / 3600 - 8) % 24) >= user.appearance.darkModeStart - (Math.max(new Date(new Date(Date.now()).getFullYear(), 0, 1).getTimezoneOffset(), new Date(new Date(Date.now()).getFullYear(), 6, 1).getTimezoneOffset()) !== new Date(Date.now()).getTimezoneOffset() ? (user.appearance.darkModeStart === 0 ? -23 : 1) : 0)) || ((Date.now() / 1000 / 3600 - 8) % 24) < user.appearance.darkModeFinish - (Math.max(new Date(new Date(Date.now()).getFullYear(), 0, 1).getTimezoneOffset(), new Date(new Date(Date.now()).getFullYear(), 6, 1).getTimezoneOffset()) !== new Date(Date.now()).getTimezoneOffset() ? (user.appearance.darkModeFinish === 1 ? -23 : 1) : 0)))))) { %>
        <link id="pageStyle" rel="stylesheet" type="text/css" href="public/css/dark_mode.css">
    <% } else { %>
        <link id="pageStyle" rel="stylesheet" type="text/css" href="public/css/light_mode.css">
    <% } %>
    <link rel="stylesheet" type="text/css" href="public/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<!-- Admin Navbar -->
<% include partials/admin/admin_navbar.ejs %>

<!-- Main Screen -->
<div id="weightsCard" class="container">
    <span class="accordion" id="bigAccordionForms">
        <% for (let i = 0; i < Object.keys(classData).length; i++) { %>
            <label style="display: flex; cursor: pointer" data-toggle="collapse" href="#accordionForms<%= i %>">
                <h5 style="font-size: 1.5rem !important;"><%= Object.keys(classData)[i] %>
                    <i class="fa" aria-hidden="true"></i>
                </h5>
                <span id="weightMessage<%= i %>" class="alert alert-success font-weight-bold"
                      style="width: fit-content; display:none; justify-content: center; padding: 0.1rem;">
                    <div style="display: none" class="sk-chase-mini">
                        <div class="sk-chase-dot mini"></div>
                        <div class="sk-chase-dot mini"></div>
                        <div class="sk-chase-dot mini"></div>
                        <div class="sk-chase-dot mini"></div>
                        <div class="sk-chase-dot mini"></div>
                        <div class="sk-chase-dot mini"></div>
                    </div>
                    <span class="messageTxt"></span>
                </span>
            </label>

            <span class="accordion collapse show collapse-underline" id="accordionForms<%= i %>"
                  data-parent="#bigAccordionForms">
                <form id="weights<%= i %>" class="form-ajax form-weights form-signin" action="/updateclassweights"
                      method="post" style="display: flex; justify-content: right;">
                    <div>
                        <label>Class Type:</label>
                        <select oninput="ajaxPostWeightsDatabaseForm('<%= i %>',null,[],'#weightMessage<%= i %>',true); $('#weights<%= i %>').submit()"
                                class="dropdown" style="padding: 0; margin-right: 3rem"
                                id="classType<%= i %>">
                            <option value="" disabled hidden
                            <% if (classData[Object.keys(classData)[i]].classType === "") { %> selected
                                    <% } %>
                            >Not Selected
                            </option>
                            <option value="none"
                            <% if (classData[Object.keys(classData)[i]].classType === "none") { %> selected
                                    <% } %>
                            >None
                            </option>
                            <option value="ap"
                            <% if (classData[Object.keys(classData)[i]].classType === "ap") { %> selected
                                    <% } %>
                            >AP
                            </option>
                            <option value="honors"
                            <% if (classData[Object.keys(classData)[i]].classType === "honors") { %> selected
                                    <% } %>
                            >Honors
                            </option>
                        </select>
                    </div>
                </form>
                <% for (var j = 1; j < Object.keys(classData[Object.keys(classData)[i]]).length; j++) { %>
                    <form id="weights<%= i %><%= j %>" class="form-ajax form-weights form-signin"
                          action="/updateclassweights" method="post" style="margin: 0 0 1rem 3rem; width: 100%">
                        <label data-toggle="collapse" href="#collapse<%= i %><%= j %>"
                               style="display: flex; margin: 0; cursor: pointer">
                            <h5 style="cursor: pointer"
                                class="weightname"
                                id="<%= Object.keys(classData[Object.keys(classData)[i]])[j] %>">
                                <%= Object.keys(classData[Object.keys(classData)[i]])[j] %>
                                <i style="text-indent: 0 !important;" class="fa" aria-hidden="true"></i>
                            </h5>
                            <span id="weightMessage<%= i %><%= j %>" class="alert alert-success font-weight-bold"
                                  style="width: fit-content; display:none; justify-content: center; padding: 0.1rem;">
                                <div style="display: none" class="sk-chase-mini">
                                    <div class="sk-chase-dot mini"></div>
                                    <div class="sk-chase-dot mini"></div>
                                    <div class="sk-chase-dot mini"></div>
                                    <div class="sk-chase-dot mini"></div>
                                    <div class="sk-chase-dot mini"></div>
                                    <div class="sk-chase-dot mini"></div>
                                </div>
                                <span class="messageTxt"></span>
                            </span>
                        </label>
                        <span style="border-radius: 0.25em; margin-left: 0.5rem;"
                              class="collapse collapse-underline show"
                              id="collapse<%= i %><%= j %>" data-parent="#accordionForms<%= i %>">
                            <div>
                                <span class="fa fa-plus" onclick="addCategory('<%= i %>','<%= j %>')"
                                      style="display: inline-flex; cursor: pointer;color: green"></span>
                                <% for (let k = 0; k < Object.keys(classData[Object.keys(classData)[i]][Object.keys(classData[Object.keys(classData)[i]])[j]]["weights"]).length; k++) {
                                    let value = Object.values(classData[Object.keys(classData)[i]][Object.keys(classData[Object.keys(classData)[i]])[j]]["weights"])[k]; %>

                                <div class="form-group" id="category<%= i %><%= j %><%= k %>"
                                     style="text-indent: 3rem; display: <% if (k === 0) { %>inline-flex<% } else { %>flex<% } %>; align-items: flex-end;">
                                    <input style="font-size: 0.9rem; margin-right: 0 !important; width: fit-content; white-space: nowrap; margin-bottom: 0;"
                                           value="<%= Object.keys(classData[Object.keys(classData)[i]][Object.keys(classData[Object.keys(classData)[i]])[j]]["weights"])[k] %>"
                                           class="form-control text-view"
                                           oninput="this.classList.remove('text-view'); showSubmitButton(this)"
                                           required
                                    >
                                    :&nbsp</input>
                                    <input style="margin: 0;"
                                           value="<%= value %>"
                                           type="number"
                                           min="0"
                                           step="0.1"
                                           class="form-control text-view"
                                           name="<%= Object.keys(classData[Object.keys(classData)[i]][Object.keys(classData[Object.keys(classData)[i]])[j]]["weights"])[k] %>"
                                           oninput="this.classList.remove('text-view'); showSubmitButton(this); "
                                           required
                                    >
                                    <span class="fa fa-minus" onclick="removeCategory(this)"
                                          style="text-indent: 1rem; color: red; cursor: pointer;<% if (k === 0 && Object.keys(classData[Object.keys(classData)[i]][Object.keys(classData[Object.keys(classData)[i]])[j]]["weights"]).length > 1) { %>display: none;<% } %>"></span>
                                </div>
                                <% } %>
                            </div>
                            <div class="formSubmitButton" style="width: 100%; display: none">
                                <button type="submit" class="btn btn-default btn-med"
                                        onclick="ajaxPostWeightsDatabaseForm('<%= i %>','<%= j %>',[],'#weightMessage<%= i %><%= j %>',true);">
                                    <i class="fa fa-refresh" aria-hidden="true"></i>
                                    Update
                                </button>
                            </div>
                        </span>
                    </form>
                <% } %>
            </span>
            <hr>
        <% } %>
    </span>
</div>
</body>

<!-- Custom JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>

    $(".form-group").each(function () {
        if (!$($(this)[0].previousElementSibling).hasClass("fa-plus")) {
            $(this).css("margin-left", $($($(this)[0].parentNode)[0].children)[1].offsetLeft - $($(this)[0].parentNode)[0].offsetLeft);
        }
    });

    $(".accordion").each(function () {
        $(this).removeClass("show");
    });

    function ajaxPostWeightsDatabaseForm(classIndex, teacherIndex, fieldIDsToClear, messagesDivID, async) {
        // Get the form.
        let formID;
        if (teacherIndex) {
            formID = "#weights" + classIndex + teacherIndex;
        } else {
            formID = "#weights" + classIndex;
        }
        $(formID).submit(function (event) {
            event.preventDefault();
            event.stopImmediatePropagation();

            let formData;
            let message;
            let formMessagesDiv;

            // Serialize the form data.
            let className = $($($(formID).parents(".accordion")[1])[0]).find("label h5").not(".weightname")[classIndex].innerText.trim();
            let teacherName = null;
            let weights = null;
            if (teacherIndex) {
                teacherName = $(formID).find(".weightname")[0].innerText.trim();
                weights = {};
                let inputs = $(formID + " input");
                for (let i = 0; i < inputs.length; i += 2) {
                    weights[$(inputs[i])[0].value] = $(inputs[i + 1])[0].valueAsNumber;
                }
                formData = {
                    className: className, teacherName: teacherName, weights: weights
                };
            } else {
                let classType = $(formID).find("select")[0].value.trim();
                formData = {
                    className: className, classType: classType
                };
            }

            // Get the messages.
            formMessagesDiv = $(messagesDivID);
            message = $(formMessagesDiv).find(".messageTxt");
            $(message).text("");
            $(formMessagesDiv).removeClass("alert-success").removeClass("alert-danger").addClass("alert-info");
            $(formMessagesDiv).find(".sk-chase-mini").show().css("display", "inline-block");
            $(formMessagesDiv).show();

            // Submit the form using AJAX.
            $.ajax({
                       type: "POST", url: $(formID).attr("action"), data: formData, async: async
                   }).done(function (response) {
                // Make sure that the formMessages div has the alert-success class.
                $(formMessagesDiv).removeClass("alert-danger");
                $(formMessagesDiv).addClass("alert-success");

                // Set the message text.
                setTimeout(function () {
                    $(message).text(response);
                    $(formMessagesDiv).find(".sk-chase-mini").hide();
                    // Make sure that the formMessages div has the alert-success class.
                    $(formMessagesDiv).removeClass("alert-info");
                    $(formMessagesDiv).addClass("alert-success");
                }, 500);

                // Show the div.
                $(formMessagesDiv).css("display", "block");

                // Clear fields to clear
                for (let i = 0; i < fieldIDsToClear.length; i++) {
                    $(fieldIDsToClear[i]).val("");
                }

                // Fix styling
                $(formID + " .form-group .form-control").css("border-color", "unset").addClass("text-view");
                $(formID + " .formSubmitButton").hide();
            }).fail(function (data) {
                // Make sure that the formMessages div has the alert-danger class
                $(formMessagesDiv).removeClass("alert-success");
                $(formMessagesDiv).addClass("alert-danger");

                // Set the message text.
                if (data.responseText !== "") {
                    $(message).text(data.responseText);
                } else {
                    $(message).text("Oops! An error occurred and your message could not be sent.");
                }

                // Show the div.
                $(formMessagesDiv).css("display", "block");

                // Hide loading
                $(formMessagesDiv).find(".sk-chase-mini").hide();
            }).always(function () {
                setTimeout(function () {
                    $(formMessagesDiv).find(".sk-chase-mini").hide();
                }, 500);
            });
        });
    }

    function showSubmitButton(element) {
        $(element).parents("form").find(".formSubmitButton").show();
        $(element).parents("form").find(".alert").removeClass("alert-success").addClass("alert-danger").show().find(".messageTxt").text("Changes not Saved!");
    }

    function addCategory(classIndex, teacherIndex) {
        let classDiv = "#collapse" + classIndex + teacherIndex;
        console.log($($(classDiv)[0].children)[0].children.length);
        let newCategory = $("<div class=\"form-group\" id=\"category" + classIndex + teacherIndex + ($($(classDiv)[0].children)[0].children.length - 1) + "\"" + "style=\"text-indent: 3rem;" + ($($(classDiv)[0].children)[0].children.length > 1 ? "display: flex;" : "display: inline-flex;") + "align-items: flex-end;" + ($($(classDiv)[0].children)[0].children.length > 1 ? "margin-left: " + ($($($(classDiv)[0].children)[0].children)[1].offsetLeft - $(classDiv)[0].offsetLeft) + "px" : "") + "\">" + "<input style=\"font-size: 0.9rem; margin-right: 0 !important; width: fit-content; white-space: nowrap; margin-bottom: 0;\"" + "class=\"form-control\"" + "oninput=\"this.classList.remove('text-view'); showSubmitButton(this)\"" + "required" + ">" + ":&nbsp</input>" + "<input style=\"margin: 0; border-color: lightcoral!important;\"" + "type=\"number\"" + "min=\"0\"" + "step=\"0.1\"" + "class=\"form-control\"" + "oninput=\"this.classList.remove('text-view'); showSubmitButton(this); \"" + "required" + ">" + "<span class=\"fa fa-minus\" onclick=\"removeCategory(this)\"" + "style=\"text-indent: 1rem; color: red; cursor: pointer;" + ($($(classDiv)[0].children)[0].children.length > 1 ? "display:none;" : "") + "\"></span>" + "</div>");
        $($($(classDiv)[0].children)[0]).append(newCategory);
        $(classDiv + " .fa-minus").hide();
        if ($(classDiv + " .fa-minus").slice(1).length > 0) {
            $(classDiv + " .fa-minus").slice(1).show();
        } else {
            $(classDiv + " .fa-minus").show();
        }
        showSubmitButton($(classDiv));
    }

    function removeCategory(element) {
        let categoryDiv = $(element).parents(".form-group");
        let classDiv = $(categoryDiv.parents(".collapse")[0]);
        categoryDiv.remove();
        if (classDiv.find(".fa-minus").slice(1).length === 0) {
            classDiv.find(" .fa-minus").show();
        }
        showSubmitButton($(classDiv));
    }

</script>
